<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="#{application.details.html.title} + ' ' + #{common.title.suffix}"></title>
</head>


<body>

<div layout:fragment="headline">
    <div class="dft-headline-wrapper">
        <a th:href="@{/new-applications}" aria-label="go back" data-uipath="back-link" class="govuk-back-link"
           th:text="#{common.button.back}"/>
    </div>
</div>

<main layout:fragment="content">

    <section class="dft-content-container--full">

        <header class="dft-content-heading dft-content-heading--with-cta">
            <h1 class="govuk-heading-l" data-uipath="title">
                <!-- <span class="govuk-caption-m" th:text="${app.applicationId}"></span> -->
                <span th:remove="tag" th:text="#{application.details.title}"></span>
            </h1>
        </header>

        <div class="dft-check-answers">
            <div class="dft-check-answers__heading">
                <h2 class="govuk-heading-m dft-check-answers__title" data-uipath="party.title"
                    th:text="#{application.details.party.title}"></h2>
            </div>

            <dl class="dft-data-list" data-uipath="party.answers">

                <!-- organisation section -------------------------------------------------------------------------------->
                <div th:if="${app.party.organisation}" th:remove="tag"
                     th:with="organisation=${app.party.organisation}">
                    <div class="dft-data-list__item" th:if="${organisation.badgeHolderName}">
                        <dt class="dft-data-list__dt"
                            th:text="#{application.details.party.organisation.label.badgeHolderName}"/>
                        <dd class="dft-data-list__dd" th:text="${organisation.badgeHolderName}"
                            data-uipath="org.badgeholdername"/>
                    </div>
                    <div class="dft-data-list__item" th:if="${organisation.charityNumber}">
                        <dt class="dft-data-list__dt"
                            th:text="#{application.details.party.organisation.label.charityNumber}"/>
                        <dd class="dft-data-list__dd" th:text="${organisation.charityNumber}"
                            data-uipath="org.charitynumber"/>
                    </div>
                    <div class="dft-data-list__item" th:if="${organisation.vehicles}">
                        <dt class="dft-data-list__dt"
                            th:text="#{application.details.party.organisation.label.vehicles}"/>
                        <dd class="dft-data-list__dd">
                            <ul class="govuk-list" data-uipath="org.vehicleslist">
                                <li th:each="vehicle: ${organisation.vehicles}"
                                    th:with="vehicleType=${@referenceDataService.retrieveAppEnumDisplayValue('VEHICLETYP', vehicle.typeCode)}"
                                    th:text="${@modelFormatUtils.toCommaSeparatedString(vehicle.registrationNumber, vehicleType, vehicle.usageFrequency)}">
                            </ul>
                        </dd>
                    </div>
                    <div class="dft-data-list__item" th:if="${organisation.numberOfBadges}">
                        <dt class="dft-data-list__dt"
                            th:text="#{application.details.party.organisation.label.numberOfBadges}"/>
                        <dd class="dft-data-list__dd" th:text="${organisation.numberOfBadges}"
                            data-uipath="org.numberofbadges"/>
                    </div>
                </div>

                <!-- Person section ------------------------------------------------------------------------------------ -->
                <div th:if="${app.party.person}" th:remove="tag" th:with="person=${app.party.person}">
                    <div class="dft-data-list__item" th:if="${person.badgeHolderName}">
                        <dt class="dft-data-list__dt"
                            th:text="#{application.details.party.person.label.badgeHolderName}"/>
                        <dd class="dft-data-list__dd" th:text="${person.badgeHolderName}"
                            data-uipath="person.badgeholdername"/>
                    </div>
                    <div class="dft-data-list__item" th:if="${person.nameAtBirth}">
                        <dt class="dft-data-list__dt"
                            th:text="#{application.details.party.person.label.nameAtBirth}"/>
                        <dd class="dft-data-list__dd" th:text="${person.nameAtBirth}"
                            data-uipath="person.badgeholdernameatbirth"/>
                    </div>
                    <div class="dft-data-list__item" th:if="${person.genderCode}">
                        <dt class="dft-data-list__dt"
                            th:text="#{application.details.party.person.label.gender}"/>
                        <dd class="dft-data-list__dd"
                            th:text="${@referenceDataService.retrieveAppEnumDisplayValue('GENDER', person.genderCode)}"
                            data-uipath="person.gender"/>
                    </div>
                    <div class="dft-data-list__item" th:if="${person.dob}">
                        <dt class="dft-data-list__dt"
                            th:text="#{application.details.party.person.label.dob}"/>
                        <dd class="dft-data-list__dd" th:text="${@modelFormatUtils.localDateToDisplay(person.dob)}"
                            data-uipath="person.dob"/>
                    </div>
                    <div class="dft-data-list__item" th:if="${person.nino}">
                        <dt class="dft-data-list__dt"
                            th:text="#{application.details.party.person.label.nino}"/>
                        <dd class="dft-data-list__dd" th:text="${person.nino}" data-uipath="person.nino"/>
                    </div>
                </div>

                <!-- Contact Details ----------------------------------------------------------------------------------- -->
                <div th:remove="tag" th:with="contact=${app.party.contact}">
                    <div class="dft-data-list__item">
                        <dt class="dft-data-list__dt"
                            th:text="#{application.details.party.contact.label.address}"/>
                        <dd class="dft-data-list__dd" data-uipath="contact.address"
                            th:text="${@modelFormatUtils.toCommaSeparatedString(contact.buildingStreet, contact.line2, contact.townCity, contact.postCode)}"/>
                    </div>
                    <div class="dft-data-list__item">
                        <dt class="dft-data-list__dt"
                            th:text="#{application.details.party.contact.label.contactDetails}"/>
                        <dd class="dft-data-list__dd">
                            <div th:if="${contact.fullName}" th:remove="tag">
                                <span th:text="${contact.fullName}" th:remove="tag"/><br/>
                            </div>
                            <div th:if="${contact.primaryPhoneNumber}" th:remove="tag">
                                <span th:text="${contact.primaryPhoneNumber}" th:remove="tag"/><br/>
                            </div>
                            <div th:if="${contact.secondaryPhoneNumber}" th:remove="tag">
                                <span th:text="${contact.secondaryPhoneNumber}" th:remove="tag"/><br/>
                            </div>
                            <span th:if="${contact.emailAddress}" th:text="${contact.emailAddress}"
                                  th:remove="tag"/>
                        </dd>
                    </div>

                    <div class="dft-data-list__item" th:if="${app?.artifacts?.proofOfIdentityUrl}">
                        <dt class="dft-data-list__dt"
                            th:text="#{application.details.artifacts.label.proofOfIdentity}"/>
                        <dd class="dft-data-list__dd"><a th:href="${app.artifacts.proofOfIdentityUrl}" target="_blank"
                                                         th:text="#{open.file.in.new.tab}"></a>
                        </dd>
                    </div>

                    <div class="dft-data-list__item" th:if="${app?.artifacts?.proofOfAddressUrl}">
                        <dt class="dft-data-list__dt"
                            th:text="#{application.details.artifacts.label.proofOfAddress}"/>
                        <dd class="dft-data-list__dd">
                            <a th:href="${app.artifacts.proofOfAddressUrl}" target="_blank"
                               th:text="#{open.file.in.new.tab}"></a>
                        </dd>
                    </div>

                    <div class="dft-data-list__item" th:if="${app?.artifacts?.badgePhotoUrl}">
                        <dt class="dft-data-list__dt" th:text="#{application.details.artifacts.label.badgePhotoUrl}"></dt>
                        <dd class="dft-data-list__dd">
                            <img th:src="${app.artifacts.badgePhotoUrl}" alt=""/>
                        </dd>
                    </div>
                </div>
            </dl>
        </div>

        <div th:if="${app.eligibility}" th:with="eligibility=${app.eligibility}" class="dft-check-answers">

            <div class="dft-check-answers__heading">
                <h2 class="govuk-heading-m dft-check-answers__title" data-uipath="proofOfEligibility.title"
                    th:text="#{application.details.eligibility.title}"></h2>
            </div>

            <dl class="dft-data-list" data-uipath="proofOfEligibility.answers">

                <div class="dft-data-list__item" th:if="${eligibility.typeCode}">
                    <dt class="dft-data-list__dt"
                        th:text="#{application.details.eligibility.label.typeCode}"/>
                    <dd class="dft-data-list__dd" data-uipath="eligibility.type"
                        th:text="${@referenceDataService.retrieveAppEnumDisplayValue('ELIGIBILIT', eligibility.typeCode)}"/>
                </div>

                <!-- WALKING DIFFICULTY FIELDS -->
                <div th:if="${eligibility.walkingDifficulty}" th:remove="tag"
                     th:with="walking=${eligibility.walkingDifficulty}">
                    <div class="dft-data-list__item" th:if="${walking.typeCodes}">
                        <dt class="dft-data-list__dt"
                            th:text="#{application.details.eligibility.walkingDifficulty.label.walkingDifficulty}"/>
                        <dd class="dft-data-list__dd">
                            <ul class="govuk-list" data-uipath="eligibility.walking.types">
                                <li th:each="type: ${walking.typeCodes}"
                                    th:text="${@referenceDataService.retrieveAppEnumDisplayValue('WALKDIFF', type)}">
                            </ul>
                        </dd>
                    </div>

                    <div class="dft-data-list__item" th:if="${walking.otherDescription}">
                        <dt class="dft-data-list__dt"
                            th:text="#{application.details.eligibility.walkingDifficulty.label.otherDescription}"/>
                        <dd class="dft-data-list__dd" data-uipath="walking.otherDescription"
                            th:text="${walking.otherDescription}"/>
                    </div>
                    <div class="dft-data-list__item" th:if="${walking.walkingAids}">
                        <dt class="dft-data-list__dt"
                            th:text="#{application.details.eligibility.walkingDifficulty.label.walkingAids}"/>
                        <dd class="dft-data-list__dd">
                            <ul class="govuk-list" data-uipath="eligibility.walking.aids">
                                <li th:each="aid: ${walking.walkingAids}"
                                    th:with="howProvided=${@referenceDataService.retrieveAppEnumDisplayValue('WALKMOB', aid.howProvidedCode)}"
                                    th:text="${@modelFormatUtils.toCommaSeparatedString(aid.description, howProvided, aid.usage)}">
                            </ul>
                        </dd>
                    </div>

                    <!--
                        *   Commented out as part of BBB-921
                        *   Uncomment this block of code when the Citizen app is ready to
                            populate walking speed data.
                    -->
                    <!--<div class="dft-data-list__item" th:if="${walking.walkingSpeedCode}">
                        <dt class="dft-data-list__dt"
                            th:text="#{application.details.eligibility.walkingDifficulty.label.walkingSpeed}"/>
                        <dd class="dft-data-list__dd" data-uipath="eligibility.walking.speed"
                            th:text="${@referenceDataService.retrieveAppEnumDisplayValue('WALKSPEED', walking.walkingSpeedCode)}"/>
                    </div>-->
                    <div class="dft-data-list__item" th:if="${walking.walkingLengthOfTimeCode}">
                        <dt class="dft-data-list__dt"
                            th:text="#{application.details.eligibility.walkingDifficulty.label.walkingTime}"/>
                        <dd class="dft-data-list__dd" data-uipath="eligibility.walking.time"
                            th:text="${@referenceDataService.retrieveAppEnumDisplayValue('WALKLEN', walking.walkingLengthOfTimeCode)}"/>
                    </div>

                    <div class="dft-data-list__item" th:if="${walking.treatments}">
                        <dt class="dft-data-list__dt"
                            th:text="#{application.details.eligibility.walkingDifficulty.label.treatments}"/>
                        <dd class="dft-data-list__dd">
                            <ul class="govuk-list" data-uipath="eligibility.walking.treatments">
                                <li th:each="treatment: ${walking.treatments}"
                                    th:text="${@modelFormatUtils.toCommaSeparatedString(treatment.description, treatment.time)}">
                            </ul>
                        </dd>
                    </div>
                    <div class="dft-data-list__item" th:if="${walking.medications}">
                        <dt class="dft-data-list__dt"
                            th:text="#{application.details.eligibility.walkingDifficulty.label.medications}"/>
                        <dd class="dft-data-list__dd">
                            <ul class="govuk-list" data-uipath="eligibility.walking.medications">
                                <li th:each="med: ${walking.medications}"
                                    th:with="prescribed=#{${@modelFormatUtils.prescribedToMessageKey(med.isPrescribed)}}"
                                    th:text="${@modelFormatUtils.toCommaSeparatedString(med.name, prescribed, med.quantity, med.frequency)}">
                            </ul>
                        </dd>
                    </div>
                </div>

                <!-- ARMS FIELDS -->
                <div th:if="${eligibility.disabilityArms}" th:remove="tag"
                     th:with="arms=${eligibility.disabilityArms}">
                    <div class="dft-data-list__item" th:if="${arms.drivingFrequency}">
                        <dt class="dft-data-list__dt"
                            th:text="#{application.details.eligibility.disablilityArms.label.drivingFrequency}"/>
                        <dd class="dft-data-list__dd" th:text="${arms.drivingFrequency}"
                            data-uipath="eligibility.arms.drivingfrequency"/>
                    </div>

                    <!--
                        *   Commented out as part of BBB-921
                        *   Uncomment this block of code when the Citizen app is ready to
                            populate adapted vehicle
                    -->
                    <!--<div class="dft-data-list__item" th:if="${arms.isAdaptedVehicle != null}">
                        <dt class="dft-data-list__dt"
                            th:text="#{application.details.eligibility.disablilityArms.label.adaptedVehicle}"/>
                        <dd class="dft-data-list__dd" th:if="${arms.isAdaptedVehicle}"
                            data-uipath="eligibility.arms.isadaptedvehicle"
                            th:text="#{application.details.isAdaptedVehicle} + ' ' + ${arms.adaptedVehicleDescription}"/>
                        <dd class="dft-data-list__dd" th:unless="${arms.isAdaptedVehicle}"
                            data-uipath="eligibility.arms.isnotadaptedvehicle"
                            th:text="#{application.details.isNotAdaptedVehicle}"/>
                    </div>-->

                    <div class="dft-data-list__item" th:if="${app?.artifacts?.proofOfEligibility}">
                        <dt class="dft-data-list__dt"
                            th:text="#{application.details.artifacts.label.proofOfEligibility.vehicle}"/>
                        <dd class="dft-data-list__dd"><a th:href="${app.artifacts.proofOfEligibility}" target="_blank"
                                                         th:text="#{open.file.in.new.tab}"></a>
                    </div>
                </div>


                <!--
                    *   Commented out as part of BBB-921
                    *   Uncomment this block of code when the Citizen app is ready to
                        populate medical equipment for child under 3.
                -->
                <!-- CHILD UNDER 3 FIELDS -->
                <!--<div class="dft-data-list__item" th:if="${eligibility.childUnder3?.bulkyMedicalEquipmentTypeCode}">
                    <dt class="dft-data-list__dt"
                        th:text="#{application.details.eligibility.childUnder3.label.bulkyMedicalEquipment}"/>
                    <dd class="dft-data-list__dd" data-uipath="eligibility.child.bulkyequipmenttype"
                        th:text="${@referenceDataService.retrieveAppEnumDisplayValue('BULKEQUIP', eligibility.childUnder3.bulkyMedicalEquipmentTypeCode)}"/>
                </div>-->

                <!-- BLIND FIELDS -->
                <div class="dft-data-list__item" th:if="${eligibility.blind?.registeredAtLaId}">
                    <dt class="dft-data-list__dt"
                        th:text="#{application.details.eligibility.blind.label.registeredAtLaId}"/>
                    <dd class="dft-data-list__dd" data-uipath="eligibility.blind.registeredat"
                        th:text="${@referenceDataService.retrieveAppEnumDisplayValueByString('LA', eligibility.blind.registeredAtLaId)}"/>
                </div>

                <!--
                    *   Commented out as part of BBB-921
                    *   Uncomment this block of code when the Citizen app is ready to
                        populate benefit duration.
                -->
                <!-- BENEFIT FIELDS -->
                <!--<div th:if="${eligibility.benefit}" th:with="ben=${eligibility.benefit}" class="dft-data-list__item">
                    <dt class="dft-data-list__dt"
                        th:text="#{application.details.eligibility.benefit.label.benefit}"/>
                    <dd class="dft-data-list__dd" th:if="${ben.isIndefinite}"
                        th:text="#{application.details.benefit.isIndefinite}"
                        data-uipath="eligibility.benefit.isindefinite"/>
                    <dd class="dft-data-list__dd" th:unless="${ben.isIndefinite}"
                        data-uipath="eligibility.benefit.isnotindefinite"
                        th:text="#{application.details.benefit.expires} + ' ' + ${@modelFormatUtils.localDateToDisplay(ben.expiryDate)}"/>
                </div>-->

                <!-- COMMON ELIGIBILITY FIELDS -->
                <div class="dft-data-list__item" th:if="${eligibility.descriptionOfConditions}">
                    <dt class="dft-data-list__dt"
                        th:text="#{application.details.eligibility.label.descriptionOfConditions}"/>
                    <dd class="dft-data-list__dd"
                        th:with="conditions=${@modelFormatUtils.parseNewLinesToArray(eligibility.descriptionOfConditions)}">
                        <ul class="govuk-list" data-uipath="eligibility.descriptionofconditionslist">
                            <li th:each="condition: ${conditions}" th:text="${condition}">
                        </ul>
                    </dd>
                </div>
                <div class="dft-data-list__item" th:if="${eligibility.healthcareProfessionals}">
                    <dt class="dft-data-list__dt"
                        th:text="#{application.details.eligibility.label.healthcareProfessionals}"/>
                    <dd class="dft-data-list__dd">
                        <ul class="govuk-list" data-uipath="eligibility.healthcareprofessional">
                            <li th:each="pro: ${eligibility.healthcareProfessionals}"
                                th:text="${@modelFormatUtils.toCommaSeparatedString(pro.name, pro.location)}">
                        </ul>
                    </dd>
                </div>
            </dl>
        </div>

        <div class="dft-check-answers">
            <div class="dft-check-answers__heading">
                <h2 class="govuk-heading-m dft-check-answers__title" data-uipath="application.details"
                    th:text="#{application.details.application.title}"></h2>
            </div>

            <dl class="dft-data-list" data-uipath="application-details-list">
                <div class="dft-data-list__item" th:if="${app.applicationTypeCode}">
                    <dt class="dft-data-list__dt"
                        th:text="#{application.details.applicationTypeCode}"/>
                    <dd class="dft-data-list__dd" data-uipath="application.applicationtype"
                        th:text="${@referenceDataService.retrieveAppEnumDisplayValue('APPTYPE', app.applicationTypeCode)}"/>
                </div>
                <div class="dft-data-list__item" th:if="${app.submissionDate}">
                    <dt class="dft-data-list__dt"
                        th:text="#{application.details.submissionDate}"/>
                    <dd class="dft-data-list__dd" data-uipath="application.submissiondate"
                        th:text="${@modelFormatUtils.offsetDateTimeToFieldDisplay(app.submissionDate)}"/>
                </div>
                <div class="dft-data-list__item" th:if="${app.paymentTaken != null}">
                    <dt class="dft-data-list__dt"
                        th:text="#{application.details.paymentTaken}"/>
                    <dd class="dft-data-list__dd" th:if="${app.paymentTaken}" data-uipath="application.paymentistaken"
                        th:text="#{application.details.isPaymentTaken}"/>
                    <dd class="dft-data-list__dd" th:unless="${app.paymentTaken}"
                        data-uipath="application.paymentisnottaken"
                        th:text="#{application.details.isNotPaymentTaken}"/>
                </div>
                <div class="dft-data-list__item" th:if="${app.existingBadgeNumber}">
                    <dt class="dft-data-list__dt"
                        th:text="#{application.details.existingBadgeNumber}"/>
                    <dd class="dft-data-list__dd" data-uipath="application.existingbadgenumber"
                        th:text="${app.existingBadgeNumber}"/>
                </div>
            </dl>
        </div>

        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text" data-uipath="removeApplicationSummaryText" th:text="#{application.details.removeApplicationSummaryText}"></span>
            </summary>

            <div class="govuk-details__text">
                <form th:action="@{/new-applications/{uuid}(uuid=${uuid})}" th:method="delete">
                    <p th:text="#{application.details.text.confirmdelete.line1}" />
                    <input data-uipath="removeApplicationButton" th:value="#{application.details.removeApplicationButton}" type="submit" class="govuk-button">
                </form>

                <p class="govuk-body">
                    <a th:href="@{/new-applications/{uuid}(uuid=${uuid})}" data-uipath="doNotRemoveApplicationButton" th:text="#{application.details.doNotRemoveApplicationButton}"></a>
                </p>
            </div>
        </details>


    </section>
</main>
</body>

</html>
