<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="#{newapplications.html.title} + ' ' + #{common.title.suffix}"></title>
</head>
<body>
<div layout:fragment="content">
    <section class="dft-content-container--full">

        <h1 class="govuk-heading-l" data-uipath="title">
            <span th:text="#{newapplications.html.title}" th:remove="tag"></span>
            <span class="dft-badge dft-badge--heading" th:text="${applicationCount}"/>
        </h1>

        <div role="toolbar" class="dft-actions-panel govuk-clearfix">
            <div class="dft-actions-panel__content">
                <form action="/new-applications" method="GET" class="dft-search">

                    <div class="dft-search__container govuk-h-clearfix">

                        <label class="govuk-label" for="search.dropdown"
                               th:text="#{search.filterResults.label}"></label>
                        <select id="search.dropdown" name="searchBy" data-uipath="searchFilter.dropdown"
                                class="govuk-select dft-search__select">
                            <option th:each="option: ${searchByOptions}"
                                    th:selected="${searchBy == option.getShortCode()}"
                                    th:value="${option.getShortCode()}"
                                    th:text="${option.getDescription()}"></option>
                        </select>

                        <div class="dft-search__field">
                            <label for="searchTerm" class="dft-search__label" th:text="#{search.label}"></label>
                            <input data-uipath="search.field" id="searchTerm" name="searchTerm" type="text"
                                   th:placeholder="#{search.label}"
                                   class="dft-search__input" th:value="${searchTerm}">
                            <button type="submit" data-uipath="search.button" class="dft-search__button">
                                <span class="govuk-visually-hidden" th:text="#{search.label}"/>
                            </button>
                        </div>

                        <span class="dft-search__result"
                              th:if="${searchTerm != null && filteredApplicationCount != null}">
                            <span data-uipath="search.count"
                                  th:text="${filteredApplicationCount == 1} ? ${filteredApplicationCount} + ' ' + #{search.result.label} : ${filteredApplicationCount} + ' ' + #{search.results.label}"></span>

                            <a th:href="@{/new-applications}"
                               role="button"
                               class="dft-search__clear-link"
                               aria-label="clear search input field"
                               type="reset" th:text="#{search.btn.clear}"></a>

                        </span>

                    </div>
                </form>
            </div>
        </div>

        <table class="govuk-table" th:if="${applications != null && applications.size() > 0}">
            <thead class="govuk-table__head" data-uipath="table.head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col" th:text="#{newapplications.name.label}"/>
                <th class="govuk-table__header" scope="col" th:text="#{newapplications.nino.label}"/>
                <th class="govuk-table__header" scope="col" th:text="#{newapplications.eligibility.label}"/>
                <th class="govuk-table__header" scope="col" th:text="#{newapplications.submittedDate.label}"/>
                <th class="govuk-table__header" scope="col" th:text="#{newapplications.status.label}"/>
            </tr>
            </thead>

            <tbody class="govuk-table__body" data-uipath="table.body">
            <tr class="govuk-table__row" th:each="app : ${applications}">
                <td class="govuk-table__cell">
                    <a th:href="@{/new-applications/__${app.applicationId}__}" th:text="${app.name}"></a>
                </td>
                <td class="govuk-table__cell" th:text="${app.nino}">
                <td class="govuk-table__cell" th:text="${app.eligibility}">
                <td class="govuk-table__cell" th:text="${app.submittedDate}">
                <td class="govuk-table__cell">
                    <strong th:if="${app.status != null}" class="govuk-tag govuk-phase-banner__content__tag" th:text="#{'applicationStatus.APPSTATUS.' + ${app.status}}"></strong>
                </td>
            </tr>
            </tbody>
        </table>

        <th:block
                th:if="${searchTerm != null && filteredApplicationCount > 0} OR ${searchTerm == null && applicationCount > 0}">
            <div th:replace="~{ fragments/pagination :: pagination(${pagingInfo}) }"></div>
        </th:block>

        <p th:if="${applications == null || applications.size() == 0}" data-uipath="search.term">

            <span th:if="${searchTerm}" th:text="#{message.noResultsFound.forTerm}" th:remove="tag"></span>
            <strong th:text="${searchTerm}"></strong>
            </span>

            <span th:unless="${searchTerm}" th:text="#{message.noResultsFound}" th:remove="tag"></span>

        </p>

    </section>
</div>
</body>
</html>

