.dft-grid-row {
	@include govuk-clearfix;
}

.dft-grid-col {
	width: 100%;

	&--half,
	&--two-thirds {
		@include govuk-media-query($from: desktop) {
			float: left;
		}
	}

	&--half {
		@include govuk-media-query($from: desktop) {
			width: 50%;
		}
	}

	&--two-thirds {
		@include govuk-media-query($from: desktop) {
			width: 66.67%;
		}
	}
}

.dft-width {
	&-one-quarter {
		@include govuk-media-query($from: wide) {
			width: 25%;
		}
	}

	&-one-half {
		@include govuk-media-query($from: wide) {
			width: 50%;
		}
	}

	&-three-quarters {
		@include govuk-media-query($from: wide) {
			width: 75%;
		}
	}
}
