html,
body {
	height: 100%;
	min-height: 100%;
}

.dft-container {
	&--with-sidebar {
		width: 100%;
		height: 100%;
		display: table;
		table-layout: fixed;

		.dft-width-container {
			@include govuk-media-query($from: desktop) {
				width: auto;
				padding-left: 50px;
				padding-right: 50px;
				display: table-cell;
				word-wrap: break-word;
			}
		}

		.dft-sidebar {
			@include govuk-media-query($from: desktop) {
				height: 100%;
				width: 300px;
				max-width: 300px;
				display: table-cell;
				vertical-align: top;
			}
		}
	}
}

.dft-width-container {
	@include govuk-media-query($from: desktop) {
		padding-left: 0;
		padding-right: 0;
	}

	padding-left: 20px;
	padding-right: 20px;
}

.dft-headline-wrapper {
	@include govuk-media-query($from: desktop) {
		margin-top: 20px;
	}

	margin-top: 10px;
}

.dft-main-wrapper {
	@include govuk-media-query($from: desktop) {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
}

.dft-content-container {
	width: 100%;

	@include govuk-media-query($from: wide) {
		width: 75%;
	}

	&--full {
		@include govuk-media-query($from: wide) {
			width: 100%;
		}
	}
}

.dft-width {
	&-one-quarter {
		@include govuk-media-query($from: wide) {
			width: 25%;
		}
	}

	&-one-half {
		@include govuk-media-query($from: wide) {
			width: 50%;
		}
	}

	&-three-quarters {
		@include govuk-media-query($from: wide) {
			width: 75%;
		}
	}

	&-two-thirds {
		@include govuk-media-query($from: wide) {
			width: 66.66%;
		}
	}
}

