<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master.html}">

<head>
    <title th:text="#{orderbadge.badgeordered.html.title} + ' ' + #{common.title.suffix}"></title>
</head>

<body>

<main layout:fragment="content">
    <section class="dft-content-container">

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title" data-uipath="badge.ordered.title">Badge ordered</h1>

            <div class="govuk-panel__body" data-uipath="badge.ordered.content">
                The badge number is<br><strong data-uipath="badge.ordered.num" th:text="${badgeNumber}"/>
            </div>
        </div>

    </section>
</main>

</body>

</html>
