<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th=”http://www.thymeleaf.org lang="en">
<head>
    <title>GOV.UK Manage Blue Badges</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="main.css" th:href="@{/css/main.css}">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
</head>
<body>

    <header layout:fragment="topbar" class="dft-topbar dft-topbar--logged-in">
        <div class="dft-topbar__wrapper">

            <a class="dft-topbar__title" data-uipath="logo" href="/?email=''">
                <span th:data-uipath="la-name" class="dft-topbar__la-name">Manchester City Council</span> Manage Blue Badges
            </a>

            <div class="dft-topbar__menu">
                <span th:data-uipath="username" class="dft-topbar__username">Ali Ashik</span>
                <a th:data-uipath="signout" class="dft-topbar__signout" href="/signed-out">Sign out</a>
            </div>

        </div>
    </header>


    <div class="dft-container"><!--<div class="govuk-o-width-container">-->

        <aside class="dft-sidebar">
            sidebar
        </aside>

        <main class="dft-main-wrapper">

            <div layout:fragment="content" />

        </main>
    </div>

    </body>
</html>