<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th=”http://www.thymeleaf.org lang="en">
<head>
    <title>GOV.UK Manage Blue Badges</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" th:href="@{/govuk/images/favicon.ico}" type="image/x-icon" />
    <link rel="mask-icon" th:href="@{/images/govuk-mask-icon.svg}" color="blue">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/images/govuk-apple-touch-icon-180x180.png}">
    <link rel="apple-touch-icon" sizes="167x167" th:href="@{/images/govuk-apple-touch-icon-167x167.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/images/govuk-apple-touch-icon-152x152.png}">
    <link rel="apple-touch-icon" th:href="@{/images/govuk-apple-touch-icon.png}">

    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main.css}">
    <!--<![endif]-->

    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main-ie8.css}">
    <![endif]-->

    <link rel="stylesheet" type="text/css" media="print" th:href="@{/css/print.css}">

    <!--[if lt IE 9]>
    <script src="/js/html5-shiv.js"></script>
    <![endif]-->

    <th:block th:if="${@environment.getProperty('GACode')}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async th:src="'https://www.googletagmanager.com/gtag/js?id='+${@environment.getProperty('GACode')}"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', [[${@environment.getProperty('GACode')}]], {'anonymize_ip': true });
    /*]]>*/
    </script>
    </th:block>
</head>
<body>
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <a href="#content" class="govuk-skip-link">Skip to main content</a>

    <header th:replace="~{fragments/topbar :: topbar }"></header>

    <div class="dft-container dft-container--with-sidebar">

        <aside th:replace="~{ fragments/sidebar :: dft-sidebar }"></aside>

        <div class="dft-width-container">
            <div th:fragment="govuk-phase-banner" class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag" th:text="#{phaseBanner.title}"></strong>
                    <span class="govuk-phase-banner__text">
                        <span th:remove="tag" th:if="${(@environment.getProperty('blue-badge.env') == 'int')}">
                        		<span th:remove="tag" th:text="#{phaseBanner.text1}"></span>                        
					    </span>
                        <span th:remove="tag" th:if="${(@environment.getProperty('blue-badge.env') != 'int')}">
	                        <span th:remove="tag" th:text="#{phaseBanner.text2}"></span>
	                        <a target="_blank" data-uipath="feedback.link" class="govuk-link" th:text="#{phaseBanner.link}" href="https://www.smartsurvey.co.uk/s/L2D6Q/"></a>
                        </span>
                    </span>
                </p>
            </div>

            <div layout:fragment="headline" th:remove="tag"></div>

            <main id="content" class="dft-main-wrapper" layout:fragment="content"></main>

        </div>

    </div>

    <footer th:replace="~{ fragments/govuk-footer :: govuk-footer }"></footer>

    <script th:src="@{/js/dft-admin-frontend.js}"></script>
</body>
</html>
