.gradle
**/build

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

bin
out
output
package-lock.json
node_modules/
gradle/*
.vscode

target
target/*

*.bak
acceptance-tests/screenshot/
acceptance-tests/output/
acceptance-tests/.DS_Store


src/main/resources/static/js/*
src/main/resources/static/css/*
src/main/resources/static/images/*
src/main/resources/static/govuk/*

VERSION-computed

tmp/
*.swp
