<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="#{localCouncilDetailPage.title} + ' ' +  #{common.title.suffix}"></title>
</head>
<body>

<main layout:fragment="content">

    <div class="dft-grid-row">
        <div class="dft-grid-col dft-grid-col--two-thirds">
            <h1 class="govuk-heading-l" data-uipath="title" th:text="#{localCouncilDetailPage.title}"/>

            <div th:replace="~{ fragments/errors :: govuk-error-summary(${errorSummary}) }"></div>
        </div>
    </div>

    <div class="dft-grid-row">
        <div class="dft-grid-col dft-grid-col--half">

            <form th:action="@{/manage-local-councils/local-council-details/{shortCode}(shortCode=${shortCode})}"
                  th:object="${formRequest}" method="post" novalidate>
                <div th:replace="~{ fragments/form-elements :: govuk-input(#{localCouncilDetailPage.description.name}, 'description', null, 'text') }"></div>

                <div th:replace="~{ fragments/form-elements :: govuk-input(#{localCouncilDetailPage.welshDescription.name}, 'welshDescription', null, 'text') }"></div>

                <input th:value="#{localCouncilDetailPage.updateDetails.button}" type="submit" data-uipath="updateCouncilDetails" class="govuk-button">
            </form>

        </div>
    </div>
</main>

</body>
</html>
