<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="#{orderbadge.organisation.details.html.title} + ' ' + #{common.title.suffix}"></title>
</head>
<body>

<div layout:fragment="headline">
    <div class="dft-headline-wrapper">
        <a th:href="@{/order-a-badge/}" aria-label="go back" data-uipath="back-link"
           class="govuk-back-link" th:text="#{common.button.back}"/>
    </div>
</div>

<main layout:fragment="content">

    <section class="dft-content-container--full">
        <div class="dft-group-heading">
            <p class="dft-sub-heading" data-uipath="step">Step 2</p>
            <h1 class="govuk-heading-l" data-uipath="title">Organisation details</h1>
        </div>

        <div class="dft-width-two-thirds">
            <div th:replace="~{ fragments/errors :: govuk-error-summary(${errorSummary}) }"/>
        </div>

        <form th:action="@{/order-a-badge/organisation/details}" th:object="${formRequest}" method="post" novalidate>

            <div class="dft-width-one-half">
                <div th:replace="~{ fragments/form-elements :: govuk-input('Organisation name', 'name', null, 'text') }"/>
            </div>

            <hr class="dft-hr dft-hr--small">

            <fieldset class="govuk-fieldset fieldset-with-inputs">
                <legend>
                    <h2 class="govuk-heading-m" data-uipath="addressTitle">Address</h2>
                </legend>
                <div class="dft-width-one-half">
                    <div th:replace="~{ fragments/form-elements :: govuk-input('Building and street', 'buildingAndStreet', null, 'text') }"/>
                    <div class="dft-u-label--visually-hidden"
                         th:insert="~{ fragments/form-elements :: govuk-input('Address line 2', 'optionalAddressField', null, 'text') }"/>
                    <div th:replace="~{ fragments/form-elements :: govuk-input('Town or city', 'townOrCity', null, 'text') }"/>
                </div>

                <div class="dft-width-one-quarter">
                    <div th:replace="~{ fragments/form-elements :: govuk-input('Postcode', 'postcode', null, 'text') }"/>
                </div>
            </fieldset>

            <hr class="dft-hr dft-hr--small">
            <h2 class="govuk-heading-m" data-uipath="contactTitle">Contact details</h2>

            <div class="dft-width-one-half">
                <div th:replace="~{ fragments/form-elements :: govuk-input('Full name', 'contactDetailsName', null, 'text') }"/>
                <div th:replace="~{ fragments/form-elements :: govuk-input('Primary contact number', 'contactDetailsContactNumber', null, 'text') }"/>
                <div th:replace="~{ fragments/form-elements :: govuk-input('Secondary contact number (optional)', 'contactDetailsSecondaryContactNumber', null, 'text') }"/>
                <div th:replace="~{ fragments/form-elements :: govuk-input('Email address (optional)', 'contactDetailsEmailAddress', null, 'email') }"/>
            </div>

            <input value="Continue" type="submit" data-uipath="continue" class="govuk-button">

        </form>
    </section>
</main>

</body>
</html>
