<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master.html}">

<head>
    <title>Find a badge - GOV.UK Manage Blue Badges</title>
</head>

<body>

<main layout:fragment="content">
    <div class="dft-grid-row">
        <div class="dft-grid-col dft-grid-col--two-thirds">

            <h1 class="govuk-heading-l" data-uipath="title">Find a badge</h1>

            <div th:replace="~{ fragments/errors :: govuk-error-summary(${errorSummary}) }"/>

            <form th:action="@{/find-a-badge}" th:object="${formRequest}" method="post" novalidate>
                <div class="dft-width-three-quarters">

                    <div th:class="${#fields.hasErrors('findBadgeBy')} ? 'govuk-form-group govuk-form-group--error' : 'govuk-form-group'"
                         id="findBadgeBy">
                        <fieldset class="govuk-fieldset">

                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h2 class="govuk-heading-s">Search for Blue Badges in the UK by:</h2>
                            </legend>

                            <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" th:field="*{findBadgeBy}" id="badgeNumber"
                                           name="findBadgeBy"
                                           type="radio" value="badgeNumber" data-aria-controls="badgeNumber" data-uipath="badgeNumber.radio">
                                    <label class="govuk-label govuk-radios__label" for="badgeNumber" data-uipath="badgeNumber.label">Badge
                                        number</label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" th:field="*{findBadgeBy}" id="name"
                                           name="findBadgeBy"
                                           type="radio" value="name" data-aria-controls="name" data-uipath="name.radio">
                                    <label class="govuk-label govuk-radios__label" for="name" data-uipath="name.label">Name</label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" th:field="*{findBadgeBy}" id="postcode"
                                           name="findBadgeBy"
                                           type="radio" value="postcode" data-aria-controls="postcode" data-uipath="postcode.radio">
                                    <label class="govuk-label govuk-radios__label" for="postcode" data-uipath="postcode.label">Postcode</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>


                    <div th:replace="~{ fragments/form-elements :: govuk-input('Enter keywords', 'searchTerm', null, 'text') }"/>

                    <input data-uipath="button" value="Search" type="submit" class="govuk-button">

                </div>
            </form>


        </div>
    </div>
</main>

</body>

</html>
