.govuk-c-error-message {
    font-size: 14px;
    line-height: 16px;

    @include mq($from: tablet) {
        font-size: 16px;
        line-height: 20px;
    }
}

.govuk-list .govuk-c-error-summary__list {

}