.govuk-c-table {
    $this: &;

    &__head {
        #{$this}__row {
            border-bottom: 2px solid $govuk-grey-3;
        }
    }

    &__header, &__cell {
        font-size: 16px;
        line-height: 20px;
    }

}