.dft-topbar{
    color: white;
    background-color: $govuk-black;

    &__wrapper{
         padding: 20px 30px;
    }

    &__logo {
         color: #fff;
         font-size: 19px;
         font-weight: 700;
         display: inline-block;
         text-decoration: none;
         -webkit-font-smoothing: antialiased;
         -moz-osx-font-smoothing: grayscale;
         font-family: "nta", Arial, sans-serif;

         &:hover {
             text-decoration: underline;
         }
    }

 }