/* ---------------------------------------------

    * Global Imports / Style Resets

--------------------------------------------- */

@import "reset";

*, *:before, *:after {
    box-sizing: border-box;
}

@import "@govuk-frontend/frontend/all";
@import "accessibility";
// need to replace breakpoints at govuk level so
// that govuk components can consume the new breakpoints
$mq-breakpoints: (
    mobile:  320px,
    tablet:  768px,
    desktop: 1024px
);



/* ---------------------------------------------

    * GOV UK Pattern Overrides

--------------------------------------------- */

@import "patterns/grid";
@import "patterns/form";
@import "patterns/list";
@import "patterns/table";
@import "patterns/form-group";
@import "patterns/error-message";
@import "patterns/dft/actions-panel";





/* ---------------------------------------------

    * DFT Specific Patterns

--------------------------------------------- */

@import "patterns/dft/login";
@import "patterns/dft/badge";
@import "patterns/dft/search";
@import "patterns/dft/layout";
@import "patterns/dft/topbar";
@import "patterns/dft/sidebar";





/* ---------------------------------------------

    * Responsive Debugger

--------------------------------------------- */

$debug: true;

@if($debug){

    body::before {
        color: white;
        display:block;
        font-size: 16px;
        padding: 0 15px;
        line-height: 40px;
        background-color: green;
        content: "DEBUGGER - MOBILE";

        @include mq(tablet) {
            background-color: red;
            content: "DEBUGGER - TABLET (768px)";
        }

        @include mq(desktop) {
            background-color: blue;
            content: "DEBUGGER - DESKTOP (1024px)";
        }
    }

    /* .govuk-grid-row {
        background-color: rgba(red, 0.4);
    }

    .govuk-grid-column-two-thirds {
        background-color: rgba(red, 0.2);
    } */

}