/* ---------------------------------------------

    * Global Imports / Style Resets

--------------------------------------------- */

@import "reset";

*, *:before, *:after {
    box-sizing: border-box;
}

@import "@govuk-frontend/frontend/all";

// need to replace breakpoints at govuk level so
// that govuk components can consume the new breakpoints
$mq-breakpoints: (
    mobile:  320px,
    tablet:  768px,
    desktop: 1024px,
    wide: 1200px,
);





/* ---------------------------------------------

    * DFT Specific Helpers & Utilties

--------------------------------------------- */

@import "helpers/variables";
@import "helpers/grid";
@import "helpers/layout";
@import "helpers/accessibility";
@import "helpers/responsive-debugger";

// Tools init
@include responsive-debugger(false);





/* ---------------------------------------------

    * GOV UK Pattern Overrides

--------------------------------------------- */

@import "patterns/form";
@import "patterns/list";
@import "patterns/table";
@import "patterns/form-group";
@import "patterns/error-message";
@import "patterns/dft/actions-panel";





/* ---------------------------------------------

    * DFT Specific Patterns

--------------------------------------------- */

@import "patterns/dft/nav";
@import "patterns/dft/login";
@import "patterns/dft/badge";
@import "patterns/dft/search";
@import "patterns/dft/topbar";
@import "patterns/dft/sidebar";