<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="#{managebadges.badgedetails.html.title} + ${badge.badgeNumber} + ' ' + #{common.title.suffix}"></title>
</head>

<body>

    <div layout:fragment="headline">
        <div class="dft-headline-wrapper">
            <a th:href="${backLink}" aria-label="go back" data-uipath="back-link" class="govuk-back-link"
               th:text="#{common.button.back}"/>
        </div>
    </div>

    <main layout:fragment="content">

        <section class="dft-content-container--full" th:with="noValue=#{value.not.provided}">

            <header class="dft-content-heading dft-content-heading--with-cta">
                <div class="govuk-grid-row">
	                <div class="govuk-grid-column govuk-grid-column-two-thirds">
		                <h1 class="govuk-heading-l" data-uipath="title">
		                    <span class="govuk-caption-m" th:text="${badge.badgeNumber}"></span>
		                    <span th:remove="tag" th:text="#{viewBadge.html.title}"></span>
		                </h1>
	                </div>
	                <div class="govuk-grid-column govuk-grid-column-one-third">
		                	<ul class="govuk-list right-aligned right-aligned--reset-on-mobile">
						    	<li>
				                <div sec:authorize="hasAuthority('PERM_CANCEL_BADGE') and @securityUtils.isAuthorisedLA(#vars.badge)" class="cta" th:if="${canBeCancelled}" th:remove="tag">
				                    <a th:href="'/manage-badges/cancel-badge/'+${badge.badgeNumber}" class="govuk-!-font-size-19" th:text="#{badgeDetails.label.cancel}"></a>
				                </div>
						    	</li>
						    	<li>
				                <div sec:authorize="hasAuthority('PERM_REPLACE_BADGE') and @securityUtils.isAuthorisedLA(#vars.badge)" class="cta" th:if="${canBeReplaced}" th:remove="tag">
				                    <a th:href="'/manage-badges/replace-badge/'+${badge.badgeNumber}" class="govuk-!-font-size-19" th:text="#{badgeDetails.label.replace}" data-uipath="replaceBadgeCTA"></a>
				                </div>
						    	</li>
					    </ul>
	                </div>
                </div>
            </header>

            <div class="dft-conditionally-visible dft-conditionally-visible--on-mobile">
                <article th:replace="~{ fragments/badge-details/badge-details :: badgeMobileDetailsSummary(${badge}) }" />
            </div>

            <div class="dft-conditionally-visible dft-conditionally-visible--on-desktop">
                <div th:if="${partyTypeCode  == 'PERSON'}" th:remove="tag">
                    <article th:replace="~{ fragments/badge-details/badge-person-details :: badgePersonDetails(${badge}) }" />
                </div>

                <div th:if="${partyTypeCode == 'ORG'}" th:remove="tag">
                    <article th:replace="~{ fragments/badge-details/badge-organisation-details :: badgeOrganisationDetails(${badge}) }" />
                </div>

                <article th:replace="~{ fragments/badge-details/badge-details :: badgeDetails(${badge}) }" />
            </div>

            <details class="govuk-details" sec:authorize="hasAuthority('PERM_DELETE_BADGE') and @securityUtils.isAuthorisedLA(#vars.badge)">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text" data-uipath="deleteBadgeCTA" th:text="#{badgeDetails.label.delete}"></span>
                </summary>

                <div class="govuk-details__text">
                    <form th:action="@{/manage-badges/delete-badge/{badgeNumber}(badgeNumber=${badgeNumber})}" th:method="delete">
                        <div class="govuk-warning-text">
                            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                            <strong class="govuk-warning-text__text">
                                <span class="govuk-warning-text__assistive" th:text="#{badgeDetails.delete.reader}">Warning</span>
                                <span th:text="#{badgeDetails.delete.warn1}"></span>
                                <br>
                                <span th:text="#{badgeDetails.delete.warn2}"></span>
                            </strong>
                        </div>
                        <input data-uipath="deleteBadgeButton" th:value="#{badgeDetails.delete.button}" type="submit" class="govuk-button">
                    </form>

                    <p class="govuk-body">
                        <a th:href="@{''}" data-uipath="doNotDeleteButton" th:text="#{badgeDetails.delete.cancel}"></a>
                    </p>
                </div>
            </details>

            <div class="govuk-!-margin-top-5 govuk-!-margin-bottom-5">
                <a href="/manage-badges" class="govuk-!-font-size-19" th:text="#{badgeDetails.label.findAnotherBadge}" data-uipath="findAnotherBadgesCTA"></a>
            </div>

        </section>
    </main>
</body>

</html>
