<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="#{managebadges.badgedetails.html.title} + ${badge.badgeNumber} + ' ' + #{common.title.suffix}"></title>
</head>

<body>

    <div layout:fragment="headline">
        <div class="dft-headline-wrapper">
            <a th:href="@{/find-a-badge/search-results}" aria-label="go back" data-uipath="back-link" class="govuk-back-link"
               th:text="#{common.button.back}"/>
        </div>
    </div>

    <main layout:fragment="content">

        <section class="dft-content-container--full" th:with="noValue=#{value.not.provided}">

            <h1 class="govuk-heading-l" data-uipath="title">
                <span class="govuk-caption-l" th:text="${badge.badgeNumber}"></span>
                <span th:remove="tag" th:text="#{viewBadge.html.title}"></span>
            </h1>

            <div th:if="${partyTypeCode  == 'PERSON'}" th:remove="tag">
                <article th:replace="~{ fragments/badge-details/badge-person-details :: badgePersonDetails(${badge}) }" />
            </div>

            <div th:if="${partyTypeCode == 'ORG'}" th:remove="tag">
                <article th:replace="~{ fragments/badge-details/badge-organisation-details :: badgeOrganisationDetails(${badge}) }" />
            </div>

            <article th:replace="~{ fragments/badge-details/badge-details :: badgeDetails(${badge}) }" />

        </section>
    </main>
</body>

</html>
