<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/master.html}">

<head>
    <title>Find a badge - GOV.UK Manage Blue Badges</title>
</head>

<body>

<main layout:fragment="content">
    <div class="dft-grid-row">
        <div class="dft-grid-col dft-grid-col--two-thirds">

            <h1 class="govuk-heading-l" data-uipath="title">Find a badge</h1>

            <div th:replace="~{ fragments/errors :: govuk-error-summary(${errorSummary}) }"/>

            <form th:action="@{/manage-badges}" th:object="${formRequest}" method="post" novalidate>
                <div class="dft-width-three-quarters">

                    <div th:class="${#fields.hasErrors('findBadgeBy')} ? 'govuk-form-group govuk-form-group--error' : 'govuk-form-group'"
                         id="findBadgeBy">
                        <fieldset class="govuk-fieldset">

                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h2 class="govuk-heading-s">Search for Blue Badges in the UK by:</h2>
                            </legend>

                            <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" th:field="*{findBadgeBy}" id="badgeNumber"
                                           name="findBadgeBy"
                                           type="radio" value="badgeNumber" data-aria-controls="badgeNumber" data-uipath="badgeNumber.radio">
                                    <label class="govuk-label govuk-radios__label" for="badgeNumber" data-uipath="badgeNumber.label">Badge
                                        number</label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" th:field="*{findBadgeBy}" id="name"
                                           name="findBadgeBy"
                                           type="radio" value="name" data-aria-controls="name" data-uipath="name.radio">
                                    <label class="govuk-label govuk-radios__label" for="name" data-uipath="name.label">Name</label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" th:field="*{findBadgeBy}" id="postcode"
                                           name="findBadgeBy"
                                           type="radio" value="postcode" data-aria-controls="postcode" data-uipath="postcode.radio">
                                    <label class="govuk-label govuk-radios__label" for="postcode" data-uipath="postcode.label">Postcode</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div th:replace="~{ fragments/form-elements :: govuk-input('Enter keywords', 'searchTerm', null, 'text') }"/>

                    <input data-uipath="button" value="Search" type="submit" class="govuk-button">

                </div>
            </form>


            <div class="dft-width-three-quarters">
                <details class="govuk-details"  sec:authorize-url="GET /manage-badges/export-all-la-badges" sec:authorize="hasAuthority('PERM_VIEW_BADGE_DETAILS_ZIP')">
                    <summary data-uipath="exportAllLABadgesDetails"  class="govuk-details__summary">
                        <span class="govuk-details__summary-text" data-uipath="updateStatusSummary"
                              th:text="#{findBadge.label.exportAllBadges.title}"></span>
                    </summary>

                    <div class="govuk-details__text">
                        <form th:action="@{/manage-badges/export-all-la-badges}" th:method="get">
                            <p class="govuk-body" th:text="#{findBadge.label.exportAllBadges.body}"></p>

                            <input data-uipath="exportAllLABadgesButton"
                                   th:value="#{findBadge.label.exportAllBadges.button}" type="submit" class="govuk-button">
                        </form>
                    </div>
                </details>
            </div>

        </div>
    </div>
</main>

</body>

</html>
