<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<article class="dft-check-answers" th:fragment="badgeDetails(badge)">
    <div class="dft-check-answers__heading">
        <h2 class="govuk-heading-m dft-check-answers__title" data-uipath="badgeDetails.title"
            th:text="#{managebadges.badgedetails.html.title}"></h2>
    </div>

    <dl class="dft-data-list" data-uipath="badgeDetails.answers">

        <div class="dft-data-list__item">
            <dt class="dft-data-list__dt" th:text="#{badgeDetails.label.status}"/>
            <dd class="dft-data-list__dd" th:text="${badge.status} + (${badge.rejectedReason}  ?  '[' + ${badge.rejectedReason} + ']': '')" />
        </div>

        <div class="dft-data-list__item">
            <dt class="dft-data-list__dt" th:text="#{badgeDetails.label.badgeNumber}"/>
            <dd class="dft-data-list__dd" th:text="${badge.badgeNumber}" />
        </div>

        <div class="dft-data-list__item">
            <dt class="dft-data-list__dt" th:text="#{badgeDetails.label.issuedBy}"/>
            <dd class="dft-data-list__dd" th:text="${badge.issuedBy}"/>
        </div>

        <div class="dft-data-list__item">
            <dt class="dft-data-list__dt" th:text="#{orderbadge.checkorder.label.badgeStartDate}"/>
            <dd class="dft-data-list__dd" th:text="${badge.badgeStartDate}"/>
        </div>

        <div class="dft-data-list__item">
            <dt class="dft-data-list__dt" th:text="#{orderbadge.checkorder.label.badgeExpiryDate}"/>
            <dd class="dft-data-list__dd" th:text="${badge.badgeExpiryDate}"/>
        </div>

        <div class="dft-data-list__item">
            <dt class="dft-data-list__dt" th:text="#{orderbadge.checkorder.label.localAuthorityReference}"/>
            <dd class="dft-data-list__dd" th:with="ref=${badge.localAuthorityReference}"
                th:text="${ref} ? ${ref} : ${noValue}"/>
        </div>

        <div class="dft-data-list__item">
            <dt class="dft-data-list__dt" th:text="#{orderbadge.checkorder.label.applicationChannel}"/>
            <dd class="dft-data-list__dd" th:text="${badge.applicationChannel}"/>
        </div>

        <div class="dft-data-list__item">
            <dt class="dft-data-list__dt" th:text="#{orderbadge.checkorder.label.applicationProcessing}"/>

            <dd class="dft-data-list__dd">
                <dl class="dft-data-list dft-data-list--nested">
                    <dt class="dft-data-list__dt" th:text="#{orderbadge.checkorder.label.applicationSubmittedDate}"></dt>
                    <dd class="dft-data-list__dd" th:text="${badge.applicationDate}"></dd>

                    <dt class="dft-data-list__dt" th:text="#{orderbadge.checkorder.label.orderDate}"></dt>
                    <dd class="dft-data-list__dd" th:text="${badge.orderDate}"></dd>

                    <div th:if="${badge.issuedDate}" th:remove="tag">
                        <dt class="dft-data-list__dt" th:text="#{orderbadge.checkorder.label.issuedDate}"></dt>
                        <dd class="dft-data-list__dd" th:text="${badge.issuedDate}"></dd>
                    </div>
                </dl>
            </dd>
        </div>
    </dl>
</article>

</body>
</html>
