.dft-button {
	@extend .govuk-button;
	background-color: govuk-colour("blue");

	&:hover,
	&:focus {
		background-color: darken(govuk-colour("blue"), 5%);
	}

	&--disabled,
	&[disabled="disabled"],
	&[disabled] {
		&:hover,
		&:focus {
			background-color: govuk-colour("blue");
		}
	}
}
