.dft-conditionally-visible {
	display: block;
	position: relative;
	box-sizing: border-box;
	margin-bottom: 40px;

	&--on-mobile {
		@include govuk-media-query($from: tablet) {
			display: none;
		}
	}

	&--on-desktop {
		@include govuk-media-query($until: tablet) {
			display: none;
		}
	}
}
