.dft-check-answers {
	margin-bottom: 30px;

	@include govuk-media-query($from: tablet) {
		margin-bottom: 60px;
	}

	&__heading {
		@include govuk-clearfix;
	}

	&__title {
		float: left;
	}

	&__cta {
		@include govuk-font(19, regular);
		float: right;
	}

}


.dft-data-list {
	width: 100%;

	@include govuk-media-query($from: tablet) {
		display: table;
	}

	&__item {
		@include govuk-media-query($from: tablet) {
			display: table-row;
		}
	}

	&__dt,
	&__dd {
		@include govuk-media-query($from: tablet) {
			display: table-cell;
		}
	}

	&__dt {
		@include govuk-font(16, bold);
		vertical-align: top;
		padding: govuk-em(12, 19) govuk-em(20, 19) govuk-em(9, 19) 0;

		@include govuk-media-query($from: tablet) {
			width: 35%;
			border-bottom: 1px solid $govuk-border-colour;
		}

		@include govuk-media-query(desktop) {
			width: 50%;
		}

		@include govuk-media-query(wide) {
			width: 35%;
		}
	}

	&__dd {
		@include govuk-font(16, regular);
		border-bottom: 1px solid $govuk-border-colour;
		padding: 0 0 govuk-em(9, 19);

		img {
			width: 100px;
			height: auto;
			display: block;
			outline: 2px solid $dft-white;
			border: 2px solid $govuk-border-colour;
		}

		@include govuk-media-query($from: tablet) {
			padding: govuk-em(12, 19) govuk-em(20, 19) govuk-em(9, 19) 0;
		}
	}

}
