.dft-mobile-badge-details-list {
	&__item {
		@extend .govuk-body;

		&:not(:last-child) {
			margin-bottom: govuk-spacing(5);
		}
	}

	&__dt {
		@include govuk-font(19, regular);
		color: govuk-colour("grey-1");
	}

	&__dd {
		@extend .govuk-heading-l;
		margin-bottom: 0;
	}
}
