.dft-search {

	&__container {
		width: 65%;
		display: inline-block;
		position: relative;

		@include govuk-media-query($from: tablet) {
			width: auto;
		}
	}

	&__label {
		@include govuk-visually-hidden;
	}

	&__field {
		@include govuk-font(19, regular);
		width: 100%;
		border: 0;
		display: block;
		padding: 9px 32px 6px 15px;
		outline: 2px solid govuk-colour("grey-3");

		&:focus {
			outline-width: 2px;
		}

		@include govuk-media-query(tablet) {
			width: 260px;
		}
	}

	&__button {
		margin: 0;
		width: 30px;
		border: 0;
		height: 30px;
		cursor: pointer;
		margin-top: -15px;
		position: absolute;
		right: 5px;
		top: 50%;
		background-repeat: no-repeat;
		background-color: transparent;
		background-position: center center;
		background-image: url("../../assets/images/search.png");
	}

	&__options {
		@include govuk-font(16, regular);
		margin-left: 5px;
	}

	&__clear-link {
		@extend .govuk-link;
		@include govuk-font(16, regular);
		margin: 0;
		padding: 0;
		border: 0;
		cursor: pointer;
		text-decoration: underline;
		background-color: transparent;
	}
}
