.dft-search {

	&__container {
		@include govuk-media-query($from: tablet) {
			display: inline-block;
		}
	}

	&__select {
		@include govuk-font(16, regular);
		border: 2px solid govuk-colour("grey-3");
		margin-bottom: 10px;

		@include govuk-media-query(tablet) {
			float: left;
			width: 135px;
			margin-top: 2px;
			margin-right: 5px;
			margin-bottom: 0;
		}
	}

	&__field {
		width: 100%;
		position: relative;

		@include govuk-media-query(tablet) {
			width: auto;
			float: left;
		}
	}

	&__label {
		@include govuk-visually-hidden;
	}

	&__input {
		@include govuk-font(19, regular);
		@include govuk-focusable;
		width: 100%;
		border: 2px solid govuk-colour("grey-3");
		display: block;
		padding: 9px 32px 6px 15px;

		&:focus {
			outline-width: 2px;
		}

		@include govuk-media-query(tablet) {
			width: 260px;
		}
	}

	&__button {
		top: 50%;
		margin: 0;
		border: 0;
		right: 5px;
		width: 30px;
		height: 30px;
		cursor: pointer;
		margin-top: -15px;
		position: absolute;
		background-repeat: no-repeat;
		background-color: transparent;
		background-position: center center;
		background-image: url("../images/search.png");
	}

	&__result {
		@include govuk-font(16, regular);
		margin-left: 10px;
		display: none;

		@include govuk-media-query($from: tablet) {
			display: inline-block;
		}
	}

	&__clear-link {
		@extend .govuk-link;
		@include govuk-font(16, regular);
		margin: 0;
		padding: 0;
		border: 0;
		cursor: pointer;
		text-decoration: underline;
		background-color: transparent;
	}
}
