.dft-badge {
	&--nav {
		@include govuk-font-regular-14;
		min-width: 24px;
		text-align: center;
		border-radius: 3px;
		padding: 3px 4px 1px 4px;
		display: inline-block;
		background-color: #fff;

		@include mq($from: tablet) {
			min-width: 25px;
			padding: 5px 5px 0;
		}
	}

	&--heading {
		@include govuk-font-regular-19;
		display: inline-block;
		color: $govuk-secondary-text-colour;
	}
}
