.dft-check-answers {
	margin-bottom: 30px;

	@include mq($from: tablet) {
		margin-bottom: 60px;
	}

	&__heading {
		@include govuk-clearfix;
	}

	&__title {
		float: left;
	}

	&__cta {
		@include govuk-font-regular-19;
		float: right;
	}

}


.dft-data-list {
	width: 100%;

	@include mq($from: tablet) {
		display: table;
	}

	&__item {
		@include mq($from: tablet) {
			display: table-row;
		}
	}

	&__dt,
	&__dd {
		@include mq($from: tablet) {
			display: table-cell;
		}
	}

	&__dt {
		@include govuk-font-bold-16;
		vertical-align: top;
		padding: govuk-em(12, 19) govuk-em(20, 19) govuk-em(9, 19) 0;

		@include mq($from: tablet) {
			width: 35%;
			border-bottom: 1px solid $govuk-border-colour;
		}
	}

	&__dd {
		@include govuk-font-regular-16;
		border-bottom: 1px solid $govuk-border-colour;
		padding: 0 0 govuk-em(9, 19);

		img {
			width: 100px;
			height: auto;
			display: block;
			outline: 2px solid white;
			border: 2px solid $govuk-border-colour;
		}

		@include mq($from: tablet) {
			padding: govuk-em(12, 19) govuk-em(20, 19) govuk-em(9, 19) 0;
		}
	}

}
