.dft-nav {
	$this: &;

	// mobile and tablet only
	@include mq($until: desktop) {
		position: relative;

		#{$this}__wrapper {
			overflow: hidden;
			max-height: 42px;
			position: relative;
		}

		#{$this}__menu {
			padding-top: 42px;
		}

		#{$this}__item {
			&--active {
				top: 0;
				left: 0;
				width: 100%;
				position: absolute;
			}
		}
	}

	&__dropdown-label {
		display: none;
		top: 0;
		left: 0;
		width: 100%;
		height: 42px;
		z-index: 100;
		color: white;
		display: block;
		text-align: right;
		position: absolute;

		span {
			@include govuk-font-regular-16;
			margin-top: 6px;
			margin-right: 6px;
			line-height: unset;
			border-radius: 2px;
			display: inline-block;
			padding: 9px 10px 7px;

			&::after {
				width: 0;
				height: 0;
				content: "";
				margin-left: 5px;
				display: inline-block;
				vertical-align: middle;
				border-top: 5px solid white;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
			}
		}

		@include mq(tablet) {
			span {
				margin-top: 4px;
				padding: 7px 10px 5px;
			}
		}

		@include mq($from: desktop) {
			display: none;
		}
	}

	&__dropdown-check {
		display: none;

		&:checked ~ #{$this}__wrapper {
			max-height: none;
			overflow: visible;
		}

		&:checked + label {
			span {
				background-color: $dft-blue-dark;

				&::after {
					border-top: 0;
					border-bottom: 5px solid white;
				}
			}
		}
	}
    
	&__menu {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item {
		@include govuk-font-regular-19;
		margin: 0;
		clear: both;
		display: block;
		color: $dft-blue;
		overflow: hidden;
		position: relative;
		text-decoration: none;

		@include mq($until: desktop) {
			padding: 0 15px;
			line-height: 42px;
		}

		@include mq($from: desktop) {
			line-height: 48px;
			padding: 0 20px 0 30px;
		}

		&:visited,
		&:link {
			color: $dft-blue;
		}

		&:hover,
		&:focus,
		&--active {
			outline: none;
			color: white;
			background: $dft-blue;

			@include mq($from: desktop) {
				&:after {
					top: 0;
					right: 0;               
					width: 0;
					height: 0;
					bottom: 0;
					content: "";
					margin: auto;
					position: absolute;
					border-style: solid;
					border-width: 7px 8px 7px 0;
					border-color: transparent white transparent transparent;
				}
			}

			.dft-badge {
				color: white;
				background-color: $dft-blue-dark;
			}
			
			&:visited,
			&:link {
				color: white;
			}
		}
	}

	.dft-badge {
		margin-left: 10px;

		@include mq($from: desktop) {
			float: right;
			margin-left: 0px;
		}
	}
}
