.dft-topbar {
	$this: &;
	color: white;
	background-color: $govuk-black;

	a {
		color: white;
	}

	&__container {
		@include govuk-clearfix;
		padding: 22px 15px 17px;

		@include mq($from: tablet) {
			padding: 20px 15px 15px;
		}

		@include mq($from: desktop) {
			padding: 20px 30px 15px;
		}
	}

	&__proposition {
		float: left;
	}

	&__title {
		@include govuk-font-regular-19;
		display: none;

		@include mq($from: tablet) {
			display: inline-block;
		}
	}

	&__title-link {
		@include govuk-font-bold-19;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

		@include mq($from: tablet) {
			margin-right: 5px;
		}
	}

	&__menu {
	    @include govuk-clearfix;
		@include govuk-font-regular-16;
		float: right;
		margin-top: 2px;

	}

	&__username {
		display: none;
		float: left;

		@include mq($from: tablet) {
			display: inline-block;
		}
	}

	&__signout {
	    float: left;
        margin-left: 5px;

        @include mq($from: tablet) {
            margin-left: 10px;
        }
    }
}
