<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log in</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="main.css" th:href="@{/css/main.css}">
</head>
<body>

    <header class="dft-la-topbar">
        <a class="dft-la-topbar__logo" href="/">Manage Blue Badges</a>
    </header>

    <div class="govuk-o-width-container">

        <div class="govuk-c-phase-banner">
            <p class="govuk-c-phase-banner__content">
                <strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">beta</strong>
                <span class="govuk-c-phase-banner__text">This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.</span>
            </p>
        </div>

        <main class="govuk-o-main-wrapper">

            <div class="govuk-o-grid">
                <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

                    <div class="govuk-c-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
                        <h2 class="govuk-c-error-summary__title" id="error-summary-title">Message to alert the user to a problem goes here</h2>

                        <div class="govuk-c-error-summary__body">
                            <p>Optional description of the errors and how to correct them</p>
                            <ul class="govuk-list govuk-c-error-summary__list">
                                <li><a href="#example-error-1">Descriptive link to the question with an error</a></li>
                                <li><a href="#example-error-1">Descriptive link to the question with an error</a></li>
                            </ul>
                        </div>
                    </div>

                    <h1 class="govuk-heading-l">Login</h1>

                    <form action="" novalidate>

                        <div class="govuk-o-form-group govuk-o-form-group--error">
                            <label class="govuk-c-label" for="email">
                                Email:
                                <span class="govuk-c-label__hint">Enter your email in order to login</span>
                            </label>
                            <input class="govuk-c-input" id="email" name="email" type="email">
                        </div>

                        <div class="govuk-o-form-group">
                            <label class="govuk-c-label" for="password">Password:</label>
                            <input class="govuk-c-input" id=" ***REMOVED***>
                        </div>

                        <input value="Login" type="submit" class="govuk-c-button">

                    </form>

                </div>

            </div>

        </main>
    </div>

</body>
</html>
