<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div class="govuk-c-error-summary"
     aria-labelledby="error-summary-title"
     role="alert"
     tabindex="-1"
     th:fragment="govuk-error-summary(title)">

    <h2 class="govuk-c-error-summary__title"
        id="error-summary-title"
        th:utext="${title}">
        Fix the following errors:
    </h2>

    <div class="govuk-c-error-summary__body">
        <ul class="govuk-list govuk-c-error-summary__list">
            <li><a href="#full-name">Enter a full name</a></li>
        </ul>
    </div>
</div>

<!--
     Displays an error. Used when the error is not in the form itself (neither field related or global). I.e. when you want
     to display custom errors not related to the form.

     shouldShow: Boolean to control if the error should be displayed or not
     title: The error has two parts the title and the description, this is the title
     description: The error has two parts the title and the description, this is the description
-->
<div class="govuk-c-error-summary"
     tabindex="-1"
     role="alert"
     th:aria-labelledby="error-summary-title"
     th:if="${shouldShow}"
     th:fragment="general-form-error(shouldShow, title, description)">
        <h2 class="govuk-c-error-summary__title" id="error-summary-title" th:text="${title}"></h2>
        <div class="govuk-c-error-summary__body">
            <p th:utext="${description}"></p>
        </div>
</div>

<!--
    Generates a div with all the errors of a form that can be retrieved via "fields" which represents BindingResult in Spring MVC.

    fields: It is the the binding result that allows access to the errors in the form. This is the BindingResult class in Spring MVC.
-->

<div th:fragment="form-field-errors(fields)"
     class="govuk-c-error-summary"
     th:aria-labelledby="error-title"
     role="alert"
     tabindex="-1"
     th:if="${#fields.hasErrors('formRequest.*')}">

        <h2 data-uipath="error-title" id="error-title" class="govuk-c-error-summary__title" th:text="#{error.form.summary.title}"></h2>

        <div class="govuk-c-error-summary__body">

        <ul class="govuk-list govuk-c-error-summary__list" th:if="${fields.hasErrors('formRequest.*')}">

            <li data-uipath="error" th:each="err : ${fields.detailedErrors('formRequest.*')}" th:if="${err.isGlobal()}">
                <span th:utext="${err.message}">Input is incorrect</span>
            </li>

            <li data-uipath="error" th:each="err : ${fields.detailedErrors('formRequest.*')}" th:if="${!err.isGlobal()}">
                <a href="#" th:href="'#' + ${err.fieldName}">
                    <span th:text="${err.message}">Input is incorrect</span>
                </a>
            </li>

        </ul>
    </div>
</div>

<!--
    Generates an input html field with error handling

    fields: It is the the binding result that allows access to the errors in the form. This is the BindingResult class in Spring MVC.
    fieldId: field id as it appears in the id attribute of an html tag.
    label: text of the label associated to the field
    type: type of html input, i.e.: text, email, password
-->
<div class="govuk-o-form-group"
     th:fragment="form-field-input(fields, fieldId, label, type)"
     th:class="${#fields.hasErrors(fieldId)}? 'govuk-o-form-group govuk-o-form-group--error' : 'govuk-o-form-group'">

    <label class="govuk-c-label govuk-c-label--dft-la"
           th:data-uipath="${fieldId} + '.label'"
           th:attr="for=${fieldId}"
           th:text="${label}"></label>

    <p class="govuk-c-error-message"
       th:data-uipath="${fieldId} + '.error'"
       th:if="${#fields.hasErrors(fieldId)}"
       th:errors="*{__${fieldId}__}"></p>

    <input class="govuk-c-input"
           th:data-uipath="${fieldId} + '.field'"
           th:id="${fieldId}"
           th:name="${fieldId}"
           th:attr="id=${fieldId}, name=${fieldId}, type=${fieldId}"
           th:field="*{__${fieldId}__}">
</div>

</body>

</html>

