<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    /* ------------------------------------------------------------------------------

    * Input Field

    @label - String: Label for form input field
    @name - String: Name for the form input field. This same name is used
                    for id and attaching label to the input field.
    @hint - String: Adds hint for the input field underneath the label.
    @type - String: change the type of input field. Default is set to text

    -------------------------------------------------------------------------------- */

    <div th:fragment="govuk-input(label, name, hint, type)"
         th:class="${#fields.hasErrors(name)} ? 'govuk-o-form-group govuk-o-form-group--error' : 'govuk-o-form-group'">

        <label class="govuk-c-label" th:attr="for=${name}">

            <span th:utext="${label}" th:data-uipath="${name} + '.label'" />

            <span class="govuk-c-label__hint"
                  th:if="${hint}"
                  th:utext="${hint}"
                  th:data-uipath="${name} + '.label_hint'" />
        </label>

        <span class="govuk-c-error-message"
              th:data-uipath="${name} + '.error'"
              th:if="${#fields.hasErrors(name)}"
              th:errors="*{__${name}__}" />

        <input class="govuk-c-input"
               th:data-uipath="${name} + '.field'"
               th:attr="id=${name}"
               th:name="${name}"
               th:type="type ? type : 'text'"
               th:field="*{__${name}__}" />

    </div><!-- govuk-o-form-group -->

</body>
</html>