<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

   /* ------------------------------------------------------------------------------

   * Radios

   @label - String: Label for form input field
   @name - String: Name for the form input field. This same name is used
                  for id and attaching label to the input field.
   @options - List of radio options

   -------------------------------------------------------------------------------- */

   <div th:fragment="govuk-radios(label, name, options)"
      th:class="${#fields.hasErrors(name)} ? 'govuk-form-group govuk-form-group--error' : 'govuk-form-group'">

      <fieldset class="govuk-fieldset">

         <legend class="govuk-fieldset__legend govuk-fieldset__legend--m" th:if="${label}">
            <h3 class="govuk-heading-s" th:text="${label}"/>
         </legend>

         <div class="govuk-radios">
            <div class="govuk-radios__item" th:each="option : ${options}">
               <input class="govuk-radios__input" type="radio" data-aria-controls="conditional-how-contacted-conditional-1">
               <label class="govuk-label govuk-radios__label" th:text="${option}" />
            </div>
         </div>
      </fieldset>

   </div><!-- govuk-o-form-group -->

</body>
</html>
