<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<aside th:fragment="dft-sidebar"
			class="dft-sidebar"
			th:with="currentPage=${#la.getURLFirstSegment(#request.requestURI)}">

		<div class="dft-nav">
			<input class="dft-nav__dropdown-check" type="checkbox" id="menu" />
			<label class="dft-nav__dropdown-label" for="menu">
				<span>Menu</span>
			</label>

			<div class="dft-nav__wrapper">

				<nav class="dft-nav__menu"
						data-uipath="dft-nav-menu"
						th:with="menuItemClass='dft-nav__item',
									activeClass=${menuItemClass} + ' ' + ${menuItemClass} + '--active'">

					<a data-uipath="sidebar-nav.order-a-badge"
					   href="/order-a-badge/?action=reset"
					   th:class="${currentPage == 'order-a-badge'} ? ${activeClass} : ${menuItemClass}">
						Order a badge
					</a>

					<a data-uipath="sidebar-nav.manage-badges"
					   href="/manage-badges"
					   th:class="${currentPage == 'manage-badges'} ? ${activeClass} : ${menuItemClass}">
						Find a badge
					</a>

					<a data-uipath="sidebar-nav.manage-users"
						href="/manage-users"
						th:class="${currentPage == 'manage-users'} ? ${activeClass} : ${menuItemClass}">
						Manage users
					</a>
				</nav>

			</div>

		</div><!--dft-nav-->

	</aside>
</body>
