<<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<header th:fragment="topbar" role="banner" id="global-header" class="with-proposition">
    <div class="header-wrapper">
        <div class="header-proposition">
            <div class="content">
                <nav id="proposition-menu">
                    <a href="/admin" id="proposition-name">Manage Blue Badges</a>
                    <h3 class="proposition__authority">Manchester City Council</h3>
                    <div class="user-menu">
                        <span th:data-uipath="username" class="dft-topbar__username" th:text="${session.email}"></span>
                        <a th:data-uipath="signout" class="dft-topbar__signout" href="/sign-out">Sign out</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

</body>
</html>