.dft-grid-row {
	@include govuk-clearfix;
}

.dft-grid-col {
	width: 100%;
	
	@include mq($from: tablet) {
		padding: 0 $govuk-gutter-half;
	}

	&--half,
	&--two-thirds {
		@include mq($from: desktop) {
			float: left;
		}
	}

	&--half {
		@include mq($from: desktop) {
			width: 50%;
		}
	}

	&--two-thirds {
		@include mq($from: desktop) {
			width: 75%;
		}
	}

	&--no-gutters {
		padding: 0;
	}
}

.dft-width {
	&-one-quarter {
		@include mq($from: desktop) {
			width: 25%;
		}
	}

	&-one-half {
		@include mq($from: desktop) {
			width: 50%;
		}
	}

	&-two-third {
		@include mq($from: desktop) {
			width: 75%;
		}
	}
}
