.dft-grid-row {
	@include govuk-clearfix;
}

.dft-grid-col {
	width: 100%;
	
	// @include govuk-media-query($from: tablet) {
	// gutters are currently not required. We may need to enable this
	// and rejig the layouts
	// padding: 0 $govuk-gutter-half;
	// }

	&--half,
	&--two-thirds {
		@include govuk-media-query($from: desktop) {
			float: left;
		}
	}

	&--half {
		@include govuk-media-query($from: desktop) {
			width: 50%;
		}
	}

	&--two-thirds {
		@include govuk-media-query($from: desktop) {
			width: 66.67%;
		}
	}
}

.dft-width {
	&-one-quarter {
		@include govuk-media-query($from: desktop) {
			width: 25%;
		}
	}

	&-one-half {
		@include govuk-media-query($from: desktop) {
			width: 50%;
		}
	}

	&-three-quarters {
		@include govuk-media-query($from: desktop) {
			width: 75%;
		}
	}
}
