@mixin responsive-debugger($enabled: false) {
    @if($enabled){

        body::before {
            color: white;
            display:block;
            font-size: 16px;
            padding: 0 15px;
            line-height: 40px;
            background-color: green;
            content: "DEBUGGER - MOBILE";

            @include mq(tablet) {
                background-color: red;
                content: "DEBUGGER - TABLET (768px)";
            }

            @include mq(desktop) {
                background-color: blue;
                content: "DEBUGGER - DESKTOP (1024px)";
            }

            @include mq(wide) {
                background-color: orange;
                content: "DEBUGGER - WIDE (1200px)";
            }
        }
    }
}