<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="#{error500Page.title} + ' ' + #{common.title.suffix}"></title>
</head>
<body>

<main layout:fragment="content">

    <h1 class="govuk-heading-l" th:text="#{error500Page.title}"></h1>

    <p class="govuk-body" th:text="#{error500Page.p1}"></p>

    <p class="govuk-body" th:text="#{error500Page.p2}"></p>

    <div th:if="${#arrays.contains(@environment.getActiveProfiles(), 'dev')}">
        <hr class="dft-hr"/>

        <h2 class="govuk-heading-m">Development Mode</h2>
        <p class="govuk-body" th:text="'Message: ' + ${exception.message}"></p>

        <div th:if="${commonResponse}">
            <h3 class="govuk-heading-s">Common Response</h3>
            <pre class="govuk-pre" th:text="${commonResponse}"/>
        </div>

        <div th:if="${exception.stackTrace}">
            <h3 class="govuk-heading-s">Stack trace</h3>
            <pre class="govuk-pre" th:each="st : ${exception.stackTrace}" th:text="${st}"/>
        </div>
    </div>

</main>

</body>
</html>
