<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title>Something went wrong - GOV.UK Manage Blue Badges</title>
</head>
<body>

<main layout:fragment="content">

    <h1 class="govuk-heading-l">Something went wrong</h1>

    <p class="govuk-body">We're currently experiencing technical difficulties.</p>

    <p class="govuk-body">Please try again later.</p>

    <div th:if="${#arrays.contains(@environment.getActiveProfiles(), 'dev')}">
        <hr class="dft-hr"/>
        <h2 class="govuk-heading-m">
            <span class="govuk-caption-m">Development Mode</span>
            <span th:remove="tag" th:text="'Message: ' + ${errorMessage}"></span>
        </h2>
        <p class="govuk-body" th:text="'Exception Message: ' + ${exceptionMessage}"></p>
    </div>

</main>

</body>
</html>
