<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master.html}">

<head>
    <title th:text="#{orderbadge.badgeordered.html.title} + ' ' + #{common.title.suffix}"></title>
</head>

<body>

<main layout:fragment="content">
    <section class="dft-content-container">
        <div th:with="severalBadges=${badgeNumbers.size() > 1}" th:remove="tag">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title" data-uipath="badge.ordered.title">Badge ordered</h1>
                <div th:unless="${severalBadges}" class="govuk-panel__body" data-uipath="badge.ordered.content">
                    The badge number is<br><strong data-uipath="badge.ordered.num" th:text="${badgeNumbers.get(0)}"/>
                </div>


            </div>
            <div th:if="${severalBadges}" class="govuk-panel__body" data-uipath="badge.ordered.content">
                <p class="govuk-body">The badge numbers are:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li th:each="badgeNumber: ${badgeNumbers}" th:text="${badgeNumber}" data-uipath="badge.ordered.num"></li>
                </ul>
            </div>
        </div>
    </section>
</main>

</body>

</html>
