<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master.html}">

<head>
    <title>Check order - GOV.UK Manage Blue Badges</title>
</head>

<body>

<div layout:fragment="headline">
    <div class="dft-headline-wrapper">
        <a th:href="@{/order-a-badge/processing}" aria-label="go back" data-uipath="back-link" class="govuk-back-link">Back</a>
    </div>
</div>

<main layout:fragment="content">

    <section class="dft-content-container--full" th:with="noValue=#{value.not.provided}">

        <h1 class="govuk-heading-l" data-uipath="title">Check order</h1>

        <article class="dft-check-answers">

            <div class="dft-check-answers__heading">
                <h2 class="govuk-heading-m dft-check-answers__title" data-uipath="personalDetails.title">Personal
                    details</h2>
                <a class="dft-check-answers__cta" aria-label="change personal details"
                   data-uipath="personalDetails.change" th:href="@{/order-a-badge/details}">Change</a>
            </div>

            <dl class="dft-data-list" data-uipath="personalDetails.answers">
                <div class="dft-data-list__item">
                    <dt class="dft-data-list__dt">Full name</dt>
                    <dd class="dft-data-list__dd" th:text="${data.fullName}"/>
                </div>

                <div class="dft-data-list__item">
                    <dt class="dft-data-list__dt">Gender</dt>
                    <dd class="dft-data-list__dd" th:text="${data.gender}"/>
                </div>

                <div class="dft-data-list__item">
                    <dt class="dft-data-list__dt">Date of birth</dt>
                    <dd class="dft-data-list__dd" th:text="${data.dob}"/>
                </div>

                <div class="dft-data-list__item">
                    <dt class="dft-data-list__dt">N.I number</dt>
                    <dd class="dft-data-list__dd" th:with="ref=${data.nino}" th:text="${ref} ? ${ref} : ${noValue}"/>
                </div>

                <div class="dft-data-list__item">
                    <dt class="dft-data-list__dt">Address</dt>
                    <dd class="dft-data-list__dd" th:text="${data.address}"/>
                </div>

                <div class="dft-data-list__item">
                    <dt class="dft-data-list__dt">Contact number</dt>
                    <dd class="dft-data-list__dd" th:text="${data.contactNumber}"/>
                </div>

                <div class="dft-data-list__item">
                    <dt class="dft-data-list__dt">Email address</dt>
                    <dd class="dft-data-list__dd" th:with="ref=${data.emailAddress}"
                        th:text="${ref} ? ${ref} : ${noValue}"/>
                </div>

                <div class="dft-data-list__item">
                    <dt class="dft-data-list__dt">Eligibility</dt>
                    <dd class="dft-data-list__dd" th:text="${data.eligibility}"/>
                </div>

                <!-- <div class="dft-data-list__item">
                    <dt class="dft-data-list__dt">Photo</dt>
                    <dd class="dft-data-list__dd">
                        <img src="https://lostpetshv.org/wp-content/uploads/2018/05/Jessie-image.jpg" alt="" />
                    </dd>
                </div> -->
            </dl>
        </article>

        <article class="dft-check-answers">
            <div class="dft-check-answers__heading">
                <h2 class="govuk-heading-m dft-check-answers__title" data-uipath="processing.title">Processing</h2>
                <a class="dft-check-answers__cta" aria-label="change processing details" data-uipath="processing.change"
                   th:href="@{/order-a-badge/processing}">Change</a>
            </div>

            <dl class="dft-data-list" data-uipath="processing.answers">
                <div class="dft-data-list__item">
                    <dt class="dft-data-list__dt">Local authority reference</dt>
                    <dd class="dft-data-list__dd" th:with="ref=${data.localAuthorityReference}"
                        th:text="${ref} ? ${ref} : ${noValue}"/>
                </div>

                <div class="dft-data-list__item">
                    <dt class="dft-data-list__dt">Badge start date</dt>
                    <dd class="dft-data-list__dd" th:text="${data.badgeStartDate}"/>
                </div>

                <div class="dft-data-list__item">
                    <dt class="dft-data-list__dt">Badge expiry date</dt>
                    <dd class="dft-data-list__dd" th:text="${data.badgeExpiryDate}"/>
                </div>

                <div class="dft-data-list__item">
                    <dt class="dft-data-list__dt">Application date</dt>
                    <dd class="dft-data-list__dd" th:text="${data.applicationDate}"/>
                </div>

                <div class="dft-data-list__item">
                    <dt class="dft-data-list__dt">Application channel</dt>
                    <dd class="dft-data-list__dd" th:text="${data.applicationChannel}"/>
                </div>

                <div class="dft-data-list__item">
                    <dt class="dft-data-list__dt">Deliver to</dt>
                    <dd class="dft-data-list__dd" th:text="${data.deliverTo}"/>
                </div>

                <div class="dft-data-list__item">
                    <dt class="dft-data-list__dt">Delivery options</dt>
                    <dd class="dft-data-list__dd" th:text="${data.deliveryOptions}"/>
                </div>
            </dl>
        </article>

        <form th:action="@{/order-a-badge/check-order}" method="post" novalidate>
            <input value="Order badge" type="submit" data-uipath="orderBadge.button" class="govuk-button">
        </form>

    </section>
</main>

</body>

</html>
