<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title>Order a Badge</title>
</head>
<body>

<main layout:fragment="content">

    <div class="dft-grid-row">
        <div class="dft-grid-col dft-grid-col--two-thirds">

            <div class="dft-group-heading">
                <h5 class="dft-sub-heading">Step 2</h5>
                <h1 class="govuk-heading-l" data-uipath="title">Personal details</h1>
            </div>

            <div th:replace="~{ fragments/errors :: govuk-error-summary(${errorSummary}) }" />
        </div>
    </div>

    <div class="dft-grid-row">
        <div class="dft-grid-col">
            <form th:action="@{/order-a-badge}" th:object="${formRequest}" method="post" novalidate>

                <div class="dft-width-one-half">
                    <div th:replace="~{ fragments/form-elements :: govuk-input('Full name', 'name', null, 'text') }"/>
                    <div th:replace="~{ fragments/form-elements :: govuk-date('Date of birth', 'For example, 31 3 1980', 'dobDay', 'dobMonth', 'dobYear') }"/>
                    <div th:replace="~{ fragments/form-elements :: govuk-input('National insurance number (optional)', 'nino', null, 'text') }"/>
                </div>

                <hr>

                <fieldset class="govuk-fieldset fieldset-with-inputs">
                    <legend>
                        <h2 class="govuk-heading-m">Address</h2>
                    </legend>
                    <div class="dft-width-one-half">
                        <div th:replace="~{ fragments/form-elements :: govuk-input('Building and street', 'buildingAndStreet', null, 'text') }"/>
                        <div class="dft-u-label--visually-hidden" th:insert="~{ fragments/form-elements :: govuk-input('Address line 2', 'optionalAddressField', null, 'text') }"/>
                        <div th:replace="~{ fragments/form-elements :: govuk-input('Town or city', 'townOrCity', null, 'text') }"/>
                    </div>

                    <div class="dft-width-one-quarter">
                        <div th:replace="~{ fragments/form-elements :: govuk-input('Postcode', 'postcode', null, 'text') }"/>
                    </div>
                </fieldset>

                <hr>

                <fieldset class="govuk-fieldset fieldset-with-inputs">
                    <legend>
                        <h2 class="govuk-heading-m">Contact details</h2>
                    </legend>
                    <div class="dft-width-one-half">
                        <div th:replace="~{ fragments/form-elements :: govuk-input('Full name (optional)', 'contactDetailsName', 'This should be the name of the main point of contact', 'text') }"/>
                        <div th:replace="~{ fragments/form-elements :: govuk-input('Contact number', 'contactDetailsContactNumber', null, 'text') }"/>
                        <div th:replace="~{ fragments/form-elements :: govuk-input('Email address (optional)', 'contactDetailsEmailAddress', null, 'email') }"/>
                    </div>
                </fieldset>
                

                <hr class="govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-m">Eligibility</h2>

                
                <div class="dft-width-one-half">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="eligibility">Select from list</label>
                        <select class="govuk-select" id="eligibility" name="eligibility">
                            <option value="1">GOV.UK frontend option 1</option>
                            <option value="2" selected>GOV.UK frontend option 2</option>
                            <option value="3">GOV.UK frontend option 3</option>
                        </select>
                    </div>
                </div>

                <input value="Continue" type="submit" data-uipath="orderABadgeButton" class="govuk-button">
                
            </form>
        </div>
    </div>
</main>

</body>
</html>
