<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title>Personal Details - GOV.UK Manage Blue Badges</title>
</head>
<body>

<main layout:fragment="content">

    <section class="dft-content-container--full">
        <h1 class="govuk-heading-l" data-uipath="title">Personal details</h1>

        <div class="dft-width-two-thirds">
            <div th:replace="~{ fragments/errors :: govuk-error-summary(${errorSummary}) }"/>
        </div>

        <form th:action="@{/order-a-badge/details}" th:object="${formRequest}" method="post" enctype="multipart/form-data" novalidate>

            <div class="dft-width-one-half">
                <div th:replace="~{ fragments/form-elements :: govuk-input('Full name', 'name', null, 'text') }"/>

                <div th:replace="~{ fragments/govuk-radios :: govuk-radios-stacked('Gender', 'gender', null, ${genderOptions}) }"/>

                <div th:replace="~{ fragments/form-elements :: govuk-date('Date of birth', 'For example, 31 3 1980', 'dobDay', 'dobMonth', 'dobYear', 'dob') }"/>
                <div th:replace="~{ fragments/form-elements :: govuk-input('National insurance number (optional)', 'nino', null, 'text') }"/>
            </div>

            <hr class="dft-hr dft-hr--small">

            <fieldset class="govuk-fieldset fieldset-with-inputs">
                <legend>
                    <h2 class="govuk-heading-m" data-uipath="addressTitle">Address</h2>
                </legend>
                <div class="dft-width-one-half">
                    <div th:replace="~{ fragments/form-elements :: govuk-input('Building and street', 'buildingAndStreet', null, 'text') }"/>
                    <div class="dft-u-label--visually-hidden"
                         th:insert="~{ fragments/form-elements :: govuk-input('Address line 2', 'optionalAddressField', null, 'text') }"/>
                    <div th:replace="~{ fragments/form-elements :: govuk-input('Town or city', 'townOrCity', null, 'text') }"/>
                </div>

                <div class="dft-width-one-quarter">
                    <div th:replace="~{ fragments/form-elements :: govuk-input('Postcode', 'postcode', null, 'text') }"/>
                </div>
            </fieldset>

            <hr class="dft-hr dft-hr--small">
            <h2 class="govuk-heading-m" data-uipath="contactTitle">Contact details</h2>

            <div class="dft-width-one-half">
                <div th:replace="~{ fragments/form-elements :: govuk-input('Full name (optional)', 'contactDetailsName', 'This should be the name of the main point of contact', 'text') }"/>
                <div th:replace="~{ fragments/form-elements :: govuk-input('Primary contact number', 'contactDetailsContactNumber', null, 'text') }"/>
                <div th:replace="~{ fragments/form-elements :: govuk-input('Secondary contact number (optional)', 'contactDetailsSecondaryContactNumber', null, 'text') }"/>
                <div th:replace="~{ fragments/form-elements :: govuk-input('Email address (optional)', 'contactDetailsEmailAddress', null, 'email') }"/>
            </div>

            <hr class="dft-hr dft-hr--small">
            <h2 class="govuk-heading-m" data-uipath="eligibilityTitle">Eligibility</h2>

            <div class="dft-width-one-half">
                <div th:replace="~{ fragments/govuk-select :: govuk-select('Select from list', 'eligibility', null, ${eligibilityOptions}) }"/>
            </div>

            <hr class="dft-hr dft-hr--small">
            <h2 class="govuk-heading-m" data-uipath="photoTitle">Upload photo (optional)</h2>

            <div class="dft-width-one-half">
                <p class="govuk-body">Photos should:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>be either JPEG, PNG or GIF format</li>
                    <li>not be bigger than 10MB</li>
                </ul>

                <div th:class="${#fields.hasErrors('photo')} ? 'govuk-form-group govuk-form-group--error' : 'govuk-form-group'">

                    <span class="govuk-error-message"
                          th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}"></span>

                    <label class="govuk-label" th:attr="for=photo">Upload a file</label>
                    <p class="govuk-body" th:if="${photos}">You have already uploaded a photo</p>
                    <input type="file" class="govuk-file-upload" th:field="*{photo}">
                </div>
            </div>

            <input value="Continue" type="submit" data-uipath="continue" class="govuk-button">

        </form>
    </section>
</main>

</body>
</html>
