<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title>Order a Badge</title>
</head>
<body>

<main layout:fragment="content">

    <div class="dft-grid-row">
        <div class="dft-grid-col dft-grid-col--two-thirds">

            <div class="dft-group-heading">
                <h5 class="dft-sub-heading">Step 1</h5>
                <h1 class="govuk-heading-l" data-uipath="title">Order a badge</h1>
            </div>

            <div th:replace="~{ fragments/errors :: govuk-error-summary(${errorSummary}) }" />
        </div>
    </div>

    <div class="dft-grid-row">
        <div class="dft-grid-col">
        </div>
    </div>
</main>

</body>
</html>
