<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/master.html}">

<head>
	<title th:text="#{orderbadge.index.html.title} + ' ' + #{common.title.suffix}"></title>
</head>

<body>

	<main layout:fragment="content">

		<div class="dft-grid-row">
			<div class="dft-grid-col dft-grid-col--two-thirds">

				<div class="dft-group-heading">
					<p class="dft-sub-heading" data-uipath="step">Step 1</p>
					<h1 class="govuk-heading-l" data-uipath="title">Order a badge</h1>
				</div>

				<div th:replace="~{ fragments/errors :: govuk-error-summary(${errorSummary}) }" />
			</div>
		</div>

		<div class="dft-grid-row">
			<div class="dft-grid-col">
				<form th:action="@{/order-a-badge/}" th:object="${formRequest}" method="post" novalidate>

					<div th:replace="~{ fragments/govuk-radios :: govuk-radios-stacked('Who is the badge for?', 'applicantType', null, ${applicantTypeOptions}) }"/>
					<input value="Continue" type="submit" data-uipath="continue" class="govuk-button">

				</form>
			</div>
		</div>
	</main>

</body>

</html>
