<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="#{orderbadge.processing.html.title} + ' ' + #{common.title.suffix}"></title>
</head>

<body>

<div layout:fragment="headline">
    <div class="dft-headline-wrapper">
        <a th:href="@{/order-a-badge/{applicantType}/details(applicantType=${applicantType})}" th:aria-label="#{common.button.arialabel.back}" data-uipath="back-link"
           class="govuk-back-link" th:text="#{common.button.back}"/>
    </div>
</div>

<main layout:fragment="content">

    <section class="dft-content-container--full">
        <h1 class="govuk-heading-l" data-uipath="title">
            <span class="govuk-caption-m" th:text="#{common.text.step} + ' 3'"></span>
            <span th:remove="tag" th:text="#{orderbadge.processing.title.h1}"></span>
        </h1>

        <div class="dft-width-two-thirds">
            <div th:replace="~{ fragments/errors :: govuk-error-summary(${errorSummary}) }"/>
        </div>

        <form th:action="@{/order-a-badge/{applicantType}/processing(applicantType=${applicantType})}" th:object="${formRequest}" method="post" novalidate>

            <h2 class="govuk-heading-m" th:text="#{orderbadge.processing.h2.applicationDetails}"/>

            <div class="dft-width-one-half" th:with="isPerson=${applicantType=='person'}">
                <div th:replace="~{ fragments/form-elements :: govuk-date(#{orderbadge.processing.label.applicationDate}, #{orderbadge.processing.hint.applicationDate}, 'applicationDateDay', 'applicationDateMonth', 'applicationDateYear', 'applicationDate') }"/>
                <div th:replace="~{ fragments/govuk-radios :: govuk-radios-stacked(#{orderbadge.processing.label.applicationChannel}, 'applicationChannel', null, ${appSourceOptions}) }"/>
            </div>

            <hr class="dft-hr govuk-!-margin-bottom-6">

            <h2 class="govuk-heading-m" data-uipath="badgeDetailsTitle" th:text="#{orderbadge.processing.h2.badgeDetails}"/>

            <div class="dft-width-one-half">
                <span th:if="${applicantType == 'organisation'}">
                    <div th:replace="~{ fragments/form-elements :: govuk-input(#{orderbadge.processing.label.numberOfBages}, 'numberOfBadges', null, 'number') }"/>
                </span>
                <input th:if="${applicantType == 'person'}" type="hidden" id="numberOfBadges" name="numberOfBadges" th:attr="value = '1'"/>

                <div th:replace="~{ fragments/form-elements :: govuk-input(#{orderbadge.processing.label.localReferenceNumberOptional}, 'localAuthorityReferenceNumber', null, 'text') }"/>
                <div th:replace="~{ fragments/form-elements :: govuk-date(#{orderbadge.processing.label.badgeStartDate}, null, 'badgeStartDateDay', 'badgeStartDateMonth', 'badgeStartDateYear', 'badgeStartDate') }"/>
                <div th:replace="~{ fragments/form-elements :: govuk-date(#{orderbadge.processing.label.badgeExpiryDate}, null, 'badgeExpiryDateDay', 'badgeExpiryDateMonth', 'badgeExpiryDateYear', 'badgeExpiryDateValid') }"/>
            </div>

            <hr class="dft-hr govuk-!-margin-bottom-6">

            <h2 class="govuk-heading-m" data-uipath="deliveryInfoTitle" th:text="#{orderbadge.processing.h2.deliveryInformation}"/>

            <div class="dft-width-one-half">
                <div th:replace="~{ fragments/govuk-radios :: govuk-radios-stacked(#{orderbadge.processing.label.deliverTo}, 'deliverTo', null, ${deliverToOptions}) }"/>
                <div th:replace="~{ fragments/govuk-radios :: govuk-radios-stacked(#{orderbadge.processing.label.deliveryOptions}, 'deliveryOptions', null, ${deliveryOptions}) }"/>
            </div>

            <input th:value="#{common.button.continue}" type="submit" data-uipath="continue" class="govuk-button">
        </form>

    </section>
</main>

</body>
</html>
