<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title>Processing - GOV.UK Manage Blue Badges</title>
</head>
<body>

<main layout:fragment="content">

    <div class="dft-grid-row">
        <div class="dft-grid-col dft-grid-col--two-thirds">

            <div class="dft-group-heading">
                <!--<p class="dft-sub-heading" data-uipath="step">Step 3</p>-->
                <h1 class="govuk-heading-l" data-uipath="title">Processing</h1>
            </div>

            <div th:replace="~{ fragments/errors :: govuk-error-summary(${errorSummary}) }" />
        </div>
    </div>

    <div class="dft-grid-row">
        <div class="dft-grid-col">
            <form th:action="@{/order-a-badge/processing}" th:object="${formRequest}" method="post" novalidate>

					<h2 class="govuk-heading-m">Application details</h2>

					<div class="dft-width-one-half">
						<div th:replace="~{ fragments/form-elements :: govuk-date('Application Date', 'For example, 31 3 1980', 'applicationDateDay', 'applicationDateMonth', 'applicationDateYear', 'applicationDate') }"/>
						
						<div class="govuk-form-group">
							<fieldset class="govuk-fieldset">
								
								<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
									<h3 class="govuk-heading-s">Application Channel</h3>
								</legend>
								
								<div class="govuk-radios">
									<div class="govuk-radios__item">
										<input class="govuk-radios__input" id="how-contacted-conditional-1" name="how-contacted" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional-1">
										<label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">Email</label>
									</div>

									<div class="govuk-radios__item">
										<input class="govuk-radios__input" id="how-contacted-conditional-1" name="how-contacted" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional-1">
										<label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">Email</label>
									</div>
								</div>
							</fieldset>
						</div>
					</div>

					<hr class="dft-hr dft-hr--small">
					<h2 class="govuk-heading-m" data-uipath="badgeDetailsTitle">Badge details</h2>
					
					<div class="dft-width-one-half">
						<div th:replace="~{ fragments/form-elements :: govuk-input('Local authority reference number (optional)', 'localAuthorityReferenceNumber', null, 'text') }"/>

						<div th:replace="~{ fragments/form-elements :: govuk-date('Badge start date', null, 'badgeStartDateDay', 'badgeStartDateMonth', 'badgeStartDateYear', 'badgeStartDate') }"/>
						<div th:replace="~{ fragments/form-elements :: govuk-date('Badge end date', null, 'badgeExpiryDateDay', 'badgeExpiryDateMonth', 'badgeExpiryDateYear', 'badgeExpiryDate') }"/>
					</div>

					<hr class="dft-hr dft-hr--small">
					<h2 class="govuk-heading-m" data-uipath="deliveryInfoTitle">Delivery Information</h2>
					
					<div class="dft-width-one-half">

						<div th:replace="~{ fragments/radios :: govuk-radios('Something', 'deliverTo', options) }"/>

						<div class="govuk-form-group">
							<fieldset class="govuk-fieldset">
								
								<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
									<h3 class="govuk-heading-s">Deliver to</h3>
								</legend>
								
								<div class="govuk-radios">
									<div class="govuk-radios__item">
										<input class="govuk-radios__input" id="how-contacted-conditional-1" name="how-contacted" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional-1">
										<label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">Badge holder</label>
									</div>

									<div class="govuk-radios__item">
										<input class="govuk-radios__input" id="how-contacted-conditional-1" name="how-contacted" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional-1">
										<label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">Manchester City Council</label>
									</div>
								</div>
							</fieldset>
						</div>

					</div>

					<input value="Order badge" type="submit" data-uipath="orderBadge.button" class="govuk-button">

			  </form>
        </div>
    </div>
</main>

</body>
</html>
