<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="#{userdetail.title.prefix} + '&nbsp;' +  #{common.title.suffix}"></title>
</head>
<body>

<main layout:fragment="content">

    <div class="dft-grid-row">
        <div class="dft-grid-col dft-grid-col--two-thirds">
            <h1 class="govuk-heading-l" data-uipath="title">User details</h1>

            <div th:replace="~{ fragments/errors :: govuk-error-summary(${errorSummary}) }" ></div>
        </div>
    </div>

    <div class="dft-grid-row">
        <div class="dft-grid-col dft-grid-col--half">

            <form th:action="@{/manage-users/user-details/{uuid}(uuid=${uuid})}" th:object="${formRequest}" method="post" novalidate>

                <div th:replace="~{ fragments/form-elements :: govuk-input(#{userdetail.field.name}, 'name', null, 'text') }"></div>

                <div th:replace="~{ fragments/form-elements :: govuk-input(#{userdetail.field.emailAddress}, 'emailAddress', null, 'email') }"></div>

				<div th:replace="~{ fragments/govuk-radios :: govuk-radios-stacked-with-hint(#{label.user.index.h2.permissions}, 'role', null, ${permissionsOptions}) }"/>

                <div th:remove="tag" sec:authorize="hasAuthority('PERM_CREATE_DFT_USER')">
                    <h2 class="govuk-heading-m" data-uipath="laTitle" th:text="#{label.user.index.h2.localAuthority}"/>
                    <div th:replace="~{ fragments/govuk-select :: govuk-select-flat(#{label.user.localAuthority.label}, 'localAuthorityShortCode', null, ${localAuthorities}) }"></div>
                </div>

                <input th:value="#{common.button.update}" type="submit" data-uipath="updateUserButton" class="govuk-button">
            </form>

            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text" data-uipath="resetPasswordSummaryText" th:text="#{userdetail.resetPasswordSummaryText}"></span>
                </summary>

                <div class="govuk-details__text">
                    <form th:action="@{/manage-users/request- ***REMOVED***>
                        <p>
                            <span th:text="#{userdetail.text.confirm ***REMOVED***/>
                            <strong data-uipath="reset.userName" th:text="*{name} + '?'"/>
                        </p>
                        <p th:text="#{userdetail.text.confirmpassword.line2}"/>
                        <input data-uipath="reset.localAuthorityShortCode" type="hidden" th:field="*{localAuthorityShortCode}" th:id="resetPasswordField">
                        <input data-uipath="resetPasswordButton" th:value="#{userdetail.resetPasswordButton}" type="submit" class="govuk-button">
                    </form>

                    <p class="govuk-body">
                        <a th:href="@{/manage-users/user-details/{uuid}(uuid=${uuid})}" data-uipath="doNotResetPasswordButton" th:text="#{userdetail.doNotResetPasswordButton}"></a>
                    </p>
                </div>
            </details>

            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text" data-uipath="removeUserSummaryText" th:text="#{userdetail.removeUserSummaryText}"></span>
                </summary>

                <div class="govuk-details__text">
                    <form th:action="@{/manage-users/user-details/{uuid}(uuid=${uuid})}" th:object="${formRequest}" th:method="delete">
                        <p>
                            <span th:text="#{userdetail.text.confirmdelete.line1}" th:remove="tag"/>
                            <strong data-uipath="reset.userName" th:text="*{name} + '?'"/>
                        </p>
                        <p th:text="#{userdetail.text.confirmdelete.line2}"></p>
                        <input data-uipath="localAuthorityShortCode" type="hidden" th:field="*{localAuthorityShortCode}" th:id="removeUserField">
                        <input data-uipath="removeUserButton" th:value="#{userdetail.removeUserButton}" type="submit" class="govuk-button">
                    </form>

                    <p class="govuk-body">
                        <a th:href="@{/manage-users/user-details/{uuid}(uuid=${uuid})}" data-uipath="doNotRemoveUserButton" th:text="#{userdetail.doNotRemoveUserButton}"></a>
                    </p>
                </div>
            </details>

        </div>
    </div>
</main>

</body>
</html>
