<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="'User details ' + ${formRequest.name} + ' - GOV.UK Manage Blue Badges'"></title>
</head>
<body>

<main layout:fragment="content">

    <div class="dft-grid-row">
        <div class="dft-grid-col dft-grid-col--two-thirds">
            <h1 class="govuk-heading-l" data-uipath="title">User details</h1>

            <div th:replace="~{ fragments/errors :: govuk-error-summary(${errorSummary}) }" />
        </div>
    </div>

    <div class="dft-grid-row">
        <div class="dft-grid-col dft-grid-col--half">

                    <form th:action="@{/manage-users/user-details/{id}(id=${id})}" th:object="${formRequest}" method="post" novalidate>

                <div th:replace="~{ fragments/form-elements :: govuk-input('Full name', 'name', null, 'text') }"/>

                <div th:replace="~{ fragments/form-elements :: govuk-input('Email address', 'emailAddress', null, 'email') }"/>

                <input value="Update" type="submit" data-uipath="updateUserButton" class="govuk-button">
            </form>

            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text" data-uipath="removeUserSummaryText">Remove user</span>
                </summary>

                <div class="govuk-details__text">
                    <form th:action="@{/manage-users/user-details/{id}(id=${id})}" th:object="${formRequest}" th:method="delete">
                        <p>Are you sure you want to remove access for <strong data-uipath="userName">John Doe</strong>?</p>
                        <p>You won't be able to undo this.</p>
                        <input data-uipath="localAuthorityId" type="hidden" th:field="*{localAuthorityId}">
                        <input data-uipath="removeUserButton" value="Yes, remove user" type="submit" class="govuk-button">
                    </form>

                    <p class="govuk-body">
                        <a href="/manage-users/user-details" data-uipath="doNotRemoveUserButton">No, don't remove user</a>
                    </p>
                </div>
            </details>
            
        </div>
    </div>
</main>

</body>
</html>
