<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title>Create a new user - GOV.UK Manage Blue Badges</title>
</head>
<body>

<main layout:fragment="content">

    <h1 class="govuk-heading-l" data-uipath="title">Create a new user</h1>

    <div class="govuk-o-grid">
        <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

            <div th:replace="~{ fragments/errors :: govuk-error-summary(true, 'Fix the following errors:', 'some error message') }" />

            <div class="govuk-o-grid">
                <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

                    <!-- Form Errors - End -->
                    <form novalidate>

                        <div th:replace="~{ fragments/form-elements :: govuk-input('Full Name', 'full-name', null, null, 'text') }"/>

                        <div th:replace="~{ fragments/form-elements :: govuk-input('Email address', 'email', null, null, 'email') }"/>

                        <input value="Create user" type="submit" class="govuk-c-button">
                    </form>
                </div>
            </div>


        </div><!-- govuk-o-grid -->
    </div><!-- govuk-o-grid__item -->
</main>

</body>
</html>