<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="#{credentialsPage.title} + ' ' +  #{common.title.suffix}"></title>
</head>
<body>

<main layout:fragment="content">
    <section class="dft-content-container--full">

        <div class="dft-grid-row">
            <div class="dft-grid-col dft-grid-col--two-thirds">
                <h1 class="govuk-heading-l" data-uipath="title" th:text="#{credentialsPage.title}"/>
                <div th:replace="~{ fragments/errors :: govuk-error-summary(${errorSummary}) }"></div>
            </div>
        </div>

        <div class="dft-grid-row">
            <div class="dft-grid-col dft-grid-col--half">

                <form th:action="@{/credentials}" th:object="${formRequest}" method="post" novalidate>
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h2 class="govuk-heading-s" th:text="#{credentialsPage.legend}"></h2>
                        </legend>
                        <div class="govuk-form-group" th:class="${#fields.hasErrors('service')} ? 'govuk-form-group govuk-form-group--error' : 'govuk-form-group'">

                            <span class="govuk-error-message"
                                  data-uipath="service.error"
                                  th:errors="*{service}"></span>

                            <div id="credentials-list" class="govuk-checkboxes" data-module="checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input"
                                           type="checkbox"
                                           th:field="*{service}"
                                           id="servicePayApiKey"
                                           th:name="service"
                                           th:value="PayApiKey"
                                           th:attr="data-aria-controls='PayApiKey-conditional'"
                                           th:data-uipath="servicePayApiKey">
                                    <label class="govuk-label govuk-checkboxes__label"
                                           for="servicePayApiKey"
                                           th:text="#{credentialsPage.payApiKey.service.name}"></label>
                                </div>
                                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                                     id="PayApiKey-conditional">
                                    <div th:replace="~{ fragments/form-elements :: govuk-input(#{credentialsPage.payApiKey.name}, 'payApiKey', null, 'text') }"></div>
                                </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input"
                                           type="checkbox"
                                           th:field="*{service}"
                                           id="serviceNotifyApiKey"
                                           th:name="service"
                                           th:value="NotifyApiKey"
                                           th:attr="data-aria-controls='NotifyApiKey-conditional'"
                                    th:data-uipath="NotifyApiKey">
                                    <label class="govuk-label govuk-checkboxes__label"
                                           for="serviceNotifyApiKey"
                                           th:text="#{credentialsPage.notifyApiKey.service.name}"></label>
                                </div>
                                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                                     th:id="NotifyApiKey-conditional">
                                    <div th:replace="~{ fragments/form-elements :: govuk-input(#{credentialsPage.notifyApiKey.name}, 'notifyApiKey', null, 'text') }"></div>
                                </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input"
                                           type="checkbox"
                                           th:field="*{service}"
                                           id="serviceApplicationSubmittedTemplateId"
                                           th:name="service"
                                           th:value="ApplicationSubmittedTemplateId"
                                           th:attr="aria-controls='ApplicationSubmittedTemplateId-conditional'"
                                           th:data-uipath="ApplicationSubmittedTemplateId">
                                    <label class="govuk-label govuk-checkboxes__label"
                                           for="serviceApplicationSubmittedTemplateId"
                                           th:text="#{credentialsPage.applicationSubmittedTemplateId.service.name}"></label>
                                </div>
                                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                                     id="ApplicationSubmittedTemplateId-conditional">
                                    <div th:replace="~{ fragments/form-elements :: govuk-input(#{credentialsPage.applicationSubmittedTemplateId.name}, 'applicationSubmittedTemplateId', null, 'text') }"></div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <input th:value="#{credentialsPage.update.button}" type="submit" data-uipath="update"
                           class="govuk-button">
                </form>

            </div>
        </div>
    </section>
</main>

</body>
</html>
