<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title>Manage users - GOV.UK Manage Blue Badges</title>
</head>
<body>

    <main layout:fragment="content">

        <h1 class="govuk-heading-l" data-uipath="title">Manage users
            <span class="dft-badge dft-badge--heading" th:utext="${users.size()}" />
        </h1>

        <div role="toolbar" class="dft-actions-panel govuk-clearfix">
            <div class="dft-actions-panel__content">

                <form th:replace="~{ fragments/search :: dft-search('Search', 'search', '0', true) }" />

            </div>

            <div class="dft-actions-panel__cta-area">
                <a role="button" href="/manage-users/create-user" class="govuk-button" data-uipath="actionsPanel.button">Create a new user</a>
            </div>
        </div>

        <table class="govuk-table">
            <thead class="govuk-table__head" data-uipath="table.head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Name</th>
                    <th class="govuk-table__header" scope="col">Email address</th>
                    <!-- <th class="govuk-table__header" scope="col">Permissions</th> -->
                </tr>
            </thead>

            <tbody class="govuk-table__body" data-uipath="table.body">
                <tr class="govuk-table__row" th:each="user : ${users}">
                    <td class="govuk-table__cell">
                        <a href="#" th:utext="${user.getName()}" />
                    </td>
                    <td class="govuk-table__cell" th:utext="${user.getEmailAddress()}" />
                    <!-- <td class="govuk-table__cell" th:utext="${user.getLocalAuthorityId()}" /> -->
                </tr>
            </tbody>
        </table>

    </main>

</body>
</html>