<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="#{newapplications.html.title} + ' ' + #{common.title.suffix}"></title>
</head>
<body>
<div layout:fragment="content">
    <section class="dft-content-container--full">

        <h1 class="govuk-heading-l" data-uipath="title">New applications
            <span class="dft-badge dft-badge--heading" th:text="${applicationCount}"/>
        </h1>

        <div role="toolbar" class="dft-actions-panel govuk-clearfix">
            <div class="dft-actions-panel__content">
                <form action="/new-applications" method="GET" class="dft-search">

                    <div class="dft-search__container govuk-h-clearfix">

                        <label class="govuk-label" for="search.dropdown">Filter results</label>
                        <select id="search.dropdown" name="searchBy" data-uipath="searchFilter.dropdown"
                                class="govuk-select dft-search__select">
                            <option th:each="option: ${searchByOptions}"
                                    th:selected="${searchBy == option.getShortCode()}"
                                    th:value="${option.getShortCode()}"
                                    th:text="${option.getDescription()}"></option>
                        </select>

                        <div class="dft-search__field">
                            <label class="dft-search__label">Search</label>
                            <input data-uipath="search.field" name="searchTerm" type="text" placeholder="Search"
                                   class="dft-search__input" th:value="${searchTerm}">
                            <button type="submit" data-uipath="search.button" class="dft-search__button">
                                <span class="govuk-visually-hidden" th:text="'label'"/>
                            </button>
                        </div>

                        <span class="dft-search__result" th:if="${searchTerm != null}">
                            <span data-uipath="search.count"
                                  th:text="${applicationCount == 1} ? ${applicationCount} + ' Result:' : ${applicationCount} + ' Results:'"></span>

                            <button
                               class="dft-search__clear-link"
                               aria-label="clear search input field"
                               type="reset">Clear</button>

                        </span>

                    </div>
                </form>
            </div>
        </div>

        <table class="govuk-table" th:if="${applications != null && applications.size() > 0}">
            <thead class="govuk-table__head" data-uipath="table.head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col" th:text="#{newapplications.name.label}"/>
                <th class="govuk-table__header" scope="col" th:text="#{newapplications.nino.label}"/>
                <th class="govuk-table__header" scope="col" th:text="#{newapplications.eligibility.label}"/>
                <th class="govuk-table__header" scope="col" th:text="#{newapplications.submittedDate.label}"/>
            </tr>
            </thead>

            <tbody class="govuk-table__body" data-uipath="table.body">
            <tr class="govuk-table__row" th:each="app : ${applications}">
                <td class="govuk-table__cell">
                    <a href="#" th:text="${app.name}"></a>
                </td>
                <td class="govuk-table__cell" th:text="${app.nino}">
                <td class="govuk-table__cell" th:text="${app.eligibility}">
                <td class="govuk-table__cell" th:text="${app.submittedDate}">
            </tr>
            </tbody>
        </table>

        <p class="govuk-body" th:if="${applications == null || applications.size() == 0}"
           th:text="#{newapplications.message.noResultsFound}"/>

    </section>
</div>
</body>
</html>

