<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/blank.html}">
<head>
    <title th:text="#{privacyPage.title} + ' ' + #{common.title.suffix}"></title>
</head>
<body>

<main layout:fragment="content">

    <div class="dft-content-container dft-content-container--padding">

        <div class="dft-width-two-thirds">

            <h1 class="govuk-heading-l" th:text="#{privacyPage.title}"></h1>

            <p class="govuk-body" th:text="#{privacyPage.content.p}"></p>

        </div>

    </div>
</main>

</body>
</html>