<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/blank.html}">
<head>
    <title>Set your password - GOV.UK Manage Blue Badges</title>
</head>
<body>

    <main layout:fragment="content">

        <div class="dft-login-box">

            <h1 class="govuk-heading-l" data-uipath="title">Set your password</h1>


            <div th:replace="~{ fragments/errors :: govuk-error-summary(${errorSummary}) }" />

            <!-- <p class="govuk-body">Your password must be at least 8 characters long and should contain a mix of letters, numbers and special characters.</p> -->
            <p class="govuk-body">Your  ***REMOVED***

            <ul class="govuk-list govuk-list--bullet">
                <li>needs to be at least 8 characters long</li>
                <li>should contain letters, numbers and special characters</li>
                <li>cannot be a common password</li>
            </ul>


            <form th:action="@{/set- ***REMOVED*** novalidate>

                <div th:replace="~{ fragments/form-elements :: govuk-input('Password', ' ***REMOVED***/>

                <div th:replace="~{ fragments/form-elements :: govuk-input('Re-enter  ***REMOVED***/>

                <input data-uipath="button" value="Continue" type="submit" class="govuk-button">

            </form>

        </div>
    </main>

</body>
</html>
