<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title>Sign in - GOV.UK Manage Blue Badges</title>
</head>
<body>

    <header layout:fragment="topbar" class="dft-topbar">
        <div class="dft-topbar__wrapper">
            <a class="dft-topbar__title" data-uipath="logo" href="/">Manage Blue Badges</a>
        </div>
    </header>

    <div layout:fragment="content">
        <div class="dft-login-wrapper">

            <h1 class="govuk-heading-l" data-uipath="title">Sign in</h1>

            <div th:replace="~{fragments/errors :: general-form-error(${accessDenied}, #{error.form.global.accessDenied.title}, #{error.form.global.accessDenied.description})}" />

            <div th:replace="~{fragments/errors :: general-form-error(${expiredSession}, #{error.form.global.expiredSession.title}, #{error.form.global.expiredSession.description})}" />

            <div th:replace="~{fragments/errors :: form-field-errors(${#fields})}"/>

            <form th:action="@{/sign-in}" th:object="${formRequest}" method="post" novalidate>

                <div th:replace="~{fragments/errors ::  form-field-input(${#fields}, 'email', 'Email address', 'email')}" />
                <div th:replace="~{fragments/errors ::  form-field-input(${#fields}, ' ***REMOVED*** />

                <input data-uipath="button" value="Sign in" type="submit" class="govuk-c-button">

            </form>
        </div>
    </div>

</body>
</html>