<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/blank.html}">
<head>
    <title>Sign in - GOV.UK Manage Blue Badges</title>
</head>
<body>

    <main layout:fragment="content" class="dft-login-wrapper">

        <h1 class="govuk-heading-l" data-uipath="title">Sign in</h1>

        <div th:replace="~{ fragments/errors :: govuk-error-summary(${errorSummary}) }" />

        <form th:action="@{/sign-in}" th:object="${formRequest}" method="post" novalidate>

            <div th:replace="~{ fragments/form-elements :: govuk-input('Email Address', 'email', null, 'email') }"/>

            <div th:replace="~{ fragments/form-elements :: govuk-input('Password', ' ***REMOVED***/>

            <input data-uipath="button" value="Sign in" type="submit" class="govuk-button">

        </form>
    </main>

</body>
</html>
