.govuk-radios__hint {
	padding-left: 15px;
	color: $govuk-text-colour;
}

.govuk-radios__label {
	&--bold {
		padding-top: 0;
		font-weight: 600;
		padding-bottom: 0;
	}
}

.govuk-radios--inline {
	.govuk-radios__item {
		@include govuk-media-query($from: desktop) {
			margin-bottom: 0;
		}
	}
}

.govuk-form-group--inline-radios {
	margin-bottom: 15px;

	.govuk-radios--inline {	
		.govuk-radios__item {
			margin-bottom: 15px;
		}
	}
}
