<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Table of contents</title>
</head>
<body>
<table>
    <tr><td>sign-in</td><td><a href="sign-in.html" th:href="@{/sign-in}">sign-in</a></td></tr>
    <tr><td>sign-out</td><td><a href="sign-out.html" th:href="@{/sign-out}">sign-out</a></td></tr>
    <tr><td>manage users</td><td><a href="manage-users.html" th:href="@{/manage-users}">manage-users</a></td></tr>
    <tr><td>create-a-new-user</td><td><a href="create-a-new-user.html" th:href="@{/manage-users/create-a-new-user}">create-a-new-user</a></td></tr>
</table>
</body>
</html>
