<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="#{credentialsStoredPage.title} + ' ' +  #{common.title.suffix}"></title>
</head>
<body>

<main layout:fragment="content">
    <section class="dft-content-container--full">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title" data-uipath="credentialsStored.title" th:text="#{credentialsStoredPage.h1}">Credentials stored</h1>
        </div>

        <div class="govuk-panel__body govuk-!-margin-top-7" data-uipath="credentialsStored.content">
            <h2 class="govuk-heading-l" th:text="#{credentialsStoredPage.p.title}"></h2>
            <p class="govuk-body" th:text="#{credentialsStoredPage.p1}"></p>
            <p class="govuk-body" th:text="#{credentialsStoredPage.p2}"></p>
        </div>
    </section>
</main>

</body>
</html>
