<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="#{credentialsStoredPage.title} + ' ' +  #{common.title.suffix}"></title>
</head>
<body>
    <main layout:fragment="content">
        <section class="dft-content-container--full">
            <div class="dft-grid-row">
                <div class="dft-grid-col dft-grid-col--half">
                    <h1 class="govuk-panel__title" data-uipath="credentialsStored.title" th:text="#{credentialsStoredPage.h1}">Credentials stored</h1>
                    <h2 class="govuk-heading-m" th:text="#{credentialsStoredPage.p.title}"></h2>
                    <p class="govuk-body" th:text="#{credentialsStoredPage.p1}"></p>
                    <p class="govuk-body" th:text="#{credentialsStoredPage.p2}"></p>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
