<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="#{credentialsUpdatedPage.title} + ' ' +  #{common.title.suffix}"></title>
</head>
<body>

<main layout:fragment="content">


    <div class="dft-grid-row">
        <div class="dft-grid-col dft-grid-col--half">
            <h1 class="govuk-panel__title" data-uipath="credentialsStored.title" th:text="#{credentialsUpdatedPage.h1}">Credentials stored</h1>
            <p th:text="#{credentialsUpdatedPage.p.title}"></p>
            <p th:text="#{credentialsUpdatedPage.p1}"></p>
            <p th:text="#{credentialsUpdatedPage.p2}"></p>
        </div>
    </div>
</main>

</body>
</html>
