<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="#{applications.html.title} + ' ' + #{common.title.suffix}"></title>
</head>
<body>
<div layout:fragment="content">
    <section class="dft-content-container--full">

        <h1 class="govuk-heading-l" data-uipath="title">
            <span th:text="#{applications.html.title}" th:remove="tag"></span>
            <span class="dft-badge dft-badge--heading" th:text="${applicationCount}"/>
        </h1>

        <div role="toolbar" class="dft-actions-panel">
            <div class="dft-actions-panel__content">

                <form action="/applications" th:object="${formRequest}" method="GET" class="dft-filter-bar">
                    <div class="dft-filter-bar__container">

                        <div class="dft-filter-bar__field">
                            <label class="dft-filter-bar__label" for="search.dropdown" th:text="#{search.searchBy.label}"></label>
                            <select id="search.dropdown" name="searchBy" data-uipath="searchFilter.dropdown"
                                    class="dft-filter-bar__select">
                                <option th:each="option: ${searchByOptions}"
                                        th:selected="${searchBy == option.getShortCode()}"
                                        th:value="${option.getShortCode()}"
                                        th:text="${option.getDescription()}"></option>
                            </select>
                        </div>

                        <div class="dft-filter-bar__field">
                            <label class="dft-filter-bar__label" for="searchTerm" th:text="#{search.keyWords.label}"></label>
                            <input data-uipath="search.field" id="searchTerm" name="searchTerm" type="text"
                                   class="dft-filter-bar__input" th:value="${searchTerm}">
                        </div>

                        <div class="dft-filter-bar__field">
                            <label class="dft-filter-bar__label" for="applicationType.dropdown" th:text="#{search.type.label}"></label>
                            <select id="applicationType.dropdown" th:field="*{applicationTypeCode}" data-uipath="searchFilter.applicationType.dropdown"
                                    class="dft-filter-bar__select">
                                <option th:each="option: ${applicationTypeOptions}"
                                        th:value="${option.getShortCode()}"
                                        th:text="${option.getDescription()}"></option>
                            </select>
                        </div>

                        <div class="dft-filter-bar__field">
                            <button type="submit" data-uipath="search.button" class="dft-filter-bar__button">
                                <span th:text="#{search.filterResults.label}" />
                            </button>
                        </div>


                        <div class="dft-filter-bar__results">
                            <span class="dft-filter-bar__result"
                                      th:if="${searchTerm != null && filteredApplicationCount != null}">
                                <span data-uipath="search.count"
                                      th:text="${filteredApplicationCount == 1} ? ${filteredApplicationCount} + ' ' + #{search.result.label} : ${filteredApplicationCount} + ' ' + #{search.results.label}"></span>

                                <a th:href="@{/applications}"
                                   role="button"
                                   class="dft-filter-bar__clear-link"
                                   aria-label="clear search input field"
                                   type="reset" th:text="#{search.btn.clear}"></a>

                            </span>
                        </div>
                    </div>
                </form>

            </div>
        </div>

        <table class="govuk-table" th:if="${applications != null && applications.size() > 0}">
            <thead class="govuk-table__head" data-uipath="table.head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col" th:text="#{applications.name.label}"/>
                <th class="govuk-table__header" scope="col" th:text="#{applications.dob.label}"/>
                <th class="govuk-table__header" scope="col" th:text="#{applications.eligibility.label}"/>
                <th class="govuk-table__header" scope="col" th:text="#{applications.submittedDate.label}"/>
                <th class="govuk-table__header" scope="col" th:text="#{applications.applicationType.label}"/>
                <th class="govuk-table__header" scope="col" th:text="#{applications.status.label}"/>
            </tr>
            </thead>

            <tbody class="govuk-table__body" data-uipath="table.body">
            <tr class="govuk-table__row" th:each="app : ${applications}">
                <td class="govuk-table__cell">
                    <a th:href="@{/applications/__${app.applicationId}__}" th:text="${app.name}"></a>
                </td>
                <td class="govuk-table__cell" th:text="${app.dob}">
                <td class="govuk-table__cell" th:text="${app.eligibility}">
                <td class="govuk-table__cell" th:text="${app.submittedDate}">
                <td class="govuk-table__cell" th:text="${app.applicationType}">
                <td class="govuk-table__cell">
                    <strong th:if="${app.status != null}" class="govuk-tag govuk-phase-banner__content__tag" th:text="#{'applicationStatus.APPSTATUS.' + ${app.status}}"></strong>
                </td>
            </tr>
            </tbody>
        </table>

        <th:block
                th:if="${searchTerm != null && filteredApplicationCount > 0} OR ${searchTerm == null && applicationCount > 0}">
            <div th:replace="~{ fragments/pagination :: pagination(${pagingInfo}, '/applications') }"></div>
        </th:block>

        <p th:if="${applications == null || applications.size() == 0}" data-uipath="search.term">

            <span th:if="${searchTerm}" th:text="#{message.noResultsFound.forTerm}" th:remove="tag"></span>
            <strong th:text="${searchTerm}"></strong>
            </span>

            <span th:unless="${searchTerm}" th:text="#{message.noResultsFound}" th:remove="tag"></span>

        </p>

    </section>
</div>
</body>
</html>

