<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<form action="update.html" th:attr="action=@{/applications/update}">
    <fieldset>
        <input type="hidden" name="id" th:attr="value=${{application.id}}"/>
        Fullname: <input type="text" name="fullname" th:attr="value=${{application.fullname}}"/>
        <input type="submit" value="Update" th:attr="value=#{buttons.update}"/>
    </fieldset>
</form>
<a th:href="@{/applications/showAll}">back</a>

</body>
</html>
